/* Base */
/* ==========================================================================
    CSS Code for all Global Elements and Site-Wide Selectors

    Author: Max Quattromani
    Base -- Version: 0.4.3
   ========================================================================== */
/*

 * Base
  * Colors
  * Defaults

 * Layout

 * Module

 * State

 * Theme

 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer

 */
/* ==========================================================================
    Base: Defaults
   ========================================================================== */
/* ==========================
	  Reset
   ========================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0;
  background: transparent;
  list-style: none outside none;
  vertical-align: baseline; }

/* ==========================
	  HTML5 Display Definitions
   ========================== */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* ==========================
	  Base Stucture
   ========================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
    Base Theme -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
body {
  background-color: white; }

a.logo {
  color: inherit; }
  a.logo:hover {
    border-bottom: none;
    color: inherit; }

footer.container {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto; }

/* Layout */
/* ==========================================================================
    Layout -- Version: 1.9.0.2 - Compiled: timestamp()
   ========================================================================== */
.content {
  position: relative;
  overflow: auto;
  padding-top: 0.5em;
  padding-right: 0;
  padding-bottom: 0.5em;
  padding-left: 0;
  z-index: 0; }

.container {
  display: block;
  max-width: 960px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 0;
  padding-right: 0.5em;
  padding-bottom: 0;
  padding-left: 0.5em;
  overflow: visible; }

/* Clearfix */
.clearfix, .box-column {
  *zoom: 1; }
  .clearfix:before, .clearfix:after, .box-column:before, .box-column:after {
    content: " ";
    display: table; }
  .clearfix:after, .box-column:after {
    clear: both; }

/* ==========================
    Grid
   ========================== */
.row {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-bottom: 1em; }
  .row:last-of-type {
    margin-bottom: 0; }

.full {
  float: left;
  width: 100%;
  margin-right: 0; }

.half {
  float: left;
  width: 49%;
  margin-right: 2%; }
  .marginless .half {
    float: left;
    width: 50%;
    margin-right: 0; }
  .half:last-child {
    margin-right: 0; }
  @media (max-width: 40em) {
    .half {
      float: left;
      width: 100%;
      margin-right: 0; } }

.third {
  float: left;
  width: 32%;
  margin-right: 2%; }
  .marginless .third {
    float: left;
    width: 33.33333%;
    margin-right: 0; }
  .third:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .third {
      float: left;
      width: 49%;
      margin-right: 2%; }
      .third:nth-child(even) {
        margin-right: 0; } }
  @media (max-width: 40em) {
    .third {
      float: left;
      width: 100%;
      margin-right: 0; } }

.fourth {
  float: left;
  width: 23.5%;
  margin-right: 2%; }
  .marginless .fourth {
    float: left;
    width: 25%;
    margin-right: 0; }
  .fourth:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .fourth {
      float: left;
      width: 49%;
      margin-right: 2%; }
      .fourth:nth-child(even) {
        margin-right: 0; } }
  @media (max-width: 40em) {
    .fourth {
      float: left;
      width: 100%;
      margin-right: 0;
      margin-right: 0; } }

.fifth {
  float: left;
  width: 18.4%;
  margin-right: 2%; }
  .marginless .fifth {
    float: left;
    width: 20%;
    margin-right: 0; }
  .fifth:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .fifth {
      float: left;
      width: 49%;
      margin-right: 2%; }
      .fifth:nth-child(even) {
        margin-right: 0; } }
  @media (max-width: 40em) {
    .fifth {
      float: left;
      width: 100%;
      margin-right: 0;
      margin-right: 0; } }

.sixth {
  float: left;
  width: 15%;
  margin-right: 2%; }
  .marginless .sixth {
    float: left;
    width: 16.66667%;
    margin-right: 0; }
  .sixth:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .sixth {
      float: left;
      width: 32%;
      margin-right: 2%; }
      .sixth:nth-child(3n) {
        margin-right: 0; } }

.seventh {
  float: left;
  width: 12.57143%;
  margin-right: 2%; }
  .marginless .seventh {
    float: left;
    width: 14.28571%;
    margin-right: 0; }
  .seventh:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .seventh {
      float: left;
      width: 32%;
      margin-right: 2%; }
      .seventh:nth-child(3n) {
        margin-right: 0; } }

.eighth {
  float: left;
  width: 10.75%;
  margin-right: 2%; }
  .marginless .eighth {
    float: left;
    width: 12.5%;
    margin-right: 0; }
  .eighth:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .eighth {
      float: left;
      width: 23.5%;
      margin-right: 2%; }
      .eighth:nth-child(4n) {
        margin-right: 0; } }
  @media (max-width: 40em) {
    .eighth {
      float: left;
      width: 49%;
      margin-right: 2%; }
      .eighth:nth-child(2n) {
        margin-right: 0; } }

.ninth {
  float: left;
  width: 9.33333%;
  margin-right: 2%; }
  .marginless .ninth {
    float: left;
    width: 11.11111%;
    margin-right: 0; }
  .ninth:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .ninth {
      float: left;
      width: 32%;
      margin-right: 2%; }
      .ninth:nth-child(3n) {
        margin-right: 0; } }

.tenth {
  float: left;
  width: 8.2%;
  margin-right: 2%; }
  .marginless .tenth {
    float: left;
    width: 10%;
    margin-right: 0; }
  .tenth:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .tenth {
      float: left;
      width: 23.5%;
      margin-right: 2%; }
      .tenth:nth-child(4n) {
        margin-right: 0; } }
  @media (max-width: 40em) {
    .tenth {
      float: left;
      width: 49%;
      margin-right: 2%; }
      .tenth:nth-child(2n) {
        margin-right: 0; } }

.eleventh {
  float: left;
  width: 7.27273%;
  margin-right: 2%; }
  .marginless .eleventh {
    float: left;
    width: 9.09091%;
    margin-right: 0; }
  .eleventh:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .eleventh {
      float: left;
      width: 23.5%;
      margin-right: 2%; }
      .eleventh:nth-child(4n) {
        margin-right: 0; } }
  @media (max-width: 40em) {
    .eleventh {
      float: left;
      width: 49%;
      margin-right: 2%; }
      .eleventh:nth-child(2n) {
        margin-right: 0; } }

.twelfth {
  float: left;
  width: 6.5%;
  margin-right: 2%; }
  .marginless .twelfth {
    float: left;
    width: 8.33333%;
    margin-right: 0; }
  .twelfth:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .twelfth {
      float: left;
      width: 15%;
      margin-right: 2%; }
      .twelfth:nth-child(6n) {
        margin-right: 0; } }
  @media (max-width: 62em) {
    .twelfth {
      float: left;
      width: 32%;
      margin-right: 2%; }
      .twelfth:nth-child(3n) {
        margin-right: 0; } }

.golden-long {
  float: left;
  width: 61.04079%;
  margin-right: 2%; }
  .marginless .golden-long {
    float: left;
    width: 61.8047%;
    margin-right: 0; }
  .golden-long:last-child {
    margin-right: 0; }

.golden-short {
  float: left;
  width: 36.95921%;
  margin-right: 2%; }
  .marginless .golden-short {
    float: left;
    width: 38.1953%;
    margin-right: 0; }
  .golden-short:last-child {
    margin-right: 0; }

.two-fifths {
  float: left;
  width: 38.8%;
  margin-right: 2%; }
  .marginless .two-fifths {
    float: left;
    width: 40%;
    margin-right: 0; }
  .two-fifths:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .two-fifths {
      float: left;
      width: 49%;
      margin-right: 2%; } }

.three-fifths {
  float: left;
  width: 59.2%;
  margin-right: 2%; }
  .marginless .three-fifths {
    float: left;
    width: 60%;
    margin-right: 0; }
  .three-fifths:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .three-fifths {
      float: left;
      width: 100%;
      margin-right: 0; } }

.four-fifths {
  float: left;
  width: 79.6%;
  margin-right: 2%; }
  .marginless .four-fifths {
    float: left;
    width: 80%;
    margin-right: 0; }
  .four-fifths:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .four-fifths {
      float: left;
      width: 100%;
      margin-right: 0; } }

.two-thirds {
  float: left;
  width: 66%;
  margin-right: 2%; }
  .marginless .two-thirds {
    float: left;
    width: 66.66667%;
    margin-right: 0; }
  .two-thirds:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .two-thirds {
      float: left;
      width: 100%;
      margin-right: 0; } }

.three-fourths {
  float: left;
  width: 74.5%;
  margin-right: 2%; }
  .marginless .three-fourths {
    float: left;
    width: 75%;
    margin-right: 0; }
  .three-fourths:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .three-fourths {
      float: left;
      width: 100%;
      margin-right: 0; } }

.three-eighths {
  float: left;
  width: 36.25%;
  margin-right: 2%; }
  .marginless .three-eighths {
    float: left;
    width: 37.5%;
    margin-right: 0; }
  .three-eighths:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .three-eighths {
      float: left;
      width: 100%;
      margin-right: 0; } }

.five-eighths {
  float: left;
  width: 61.75%;
  margin-right: 2%; }
  .marginless .five-eighths {
    float: left;
    width: 62.5%;
    margin-right: 0; }
  .five-eighths:last-child {
    margin-right: 0; }
  @media (max-width: 62em) {
    .five-eighths {
      float: left;
      width: 100%;
      margin-right: 0; } }

/* ==========================
    Multi Column
   ========================== */
[class*='two_column_'] {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em; }

[class*='three_column_'] {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em; }

[class*='four_column_'] {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em; }

/* Modules */
/* ==========================================================================
    Nav -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
nav .container {
  display: table;
  width: 100%; }
nav ul {
  display: table-row;
  width: 100%; }
  nav ul li {
    display: table-cell;
    width: 20%; }

/* ==========================================================================
    Nav Theme -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
nav {
  background: #ef272d;
  color: white; }
  nav .container {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }
  nav li {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em; }
    nav li.active {
      background: #eb1118; }
    nav li:hover {
      background: #a82620; }

/* ==========================================================================
    Colors & Gradients -- Version: 0.4.3 - Compiled: timestamp()
   ========================================================================== */
.color-white {
  background: white; }

.color-black {
  background: black; }

.color-grey {
  background: #5b5b5b; }

.color-light-grey {
  background: #cccccc; }

.color-primary-red {
  background: #ef272d; }

.color-primary-green {
  background: #a0d468; }

.color-primary-blue {
  background: #0088cc; }

.color-primary-lav {
  background: #ac92ec; }

.color-secondary-red {
  background: #a82620; }

.color-secondary-green {
  background: #8cc152; }

.color-secondary-blue {
  background: #005580; }

.color-secondary-lav {
  background: #967adc; }

/* Typography Colors */
.text {
  color: #333333; }

.color-text {
  background: #333333; }

.color-link {
  background: #ef272d; }

.color-error {
  background: #ef272d; }

.color-info {
  background: #0088cc; }

.color-success {
  background: #8cc152; }

.link {
  color: #ef272d; }

.text-grey {
  color: #5b5b5b; }

.text-light-grey {
  color: #cccccc; }

.text-link {
  color: #ef272d; }

.text-white {
  color: white; }

.text-info {
  color: #0088cc; }

.text-muted, .muted {
  color: #5b5b5b; }

.text-warning, .text-error {
  color: #ef272d; }

.error, .is-error {
  background: #f89ea0;
  color: #ef272d; }

.text-info {
  color: #0088cc; }

.text-success {
  color: #8cc152; }

/* ie9 (.ie9) */
.ie9 .gradient {
  filter: none; }

.ie9 [class*="gradient"] {
  filter: none; }

/* ==========================================================================
    Typography -- Version: 1.9.0.1  - Compiled: timestamp()
   ========================================================================== */
html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  font-size: 10px;
  /* absolutely set to maintain ratio around user settings */
  color: #333333;
  -webkit-font-smoothing: antialiased; }

body, button, input, select, textarea {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.443; }

@font-face {
  font-family: "FontAwesome";
  src: url("fonts/icons/fontawesome-webfont.eot");
  src: url("fonts/icons/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/icons/fontawesome-webfont.svg#svgFontAwesome") format("svg"), url("fonts/icons/fontawesome-webfont.woff") format("woff"), url("fonts/icons/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.base-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.base-font-alt {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.arial {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.arialBold {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; }

/* ==========================
	  Body Text
   ========================== */
.lede {
  font-size: 18px;
  font-size: 1.8rem; }

.body-text {
  font-size: 16px;
  font-size: 1.6rem; }

.small-body-text {
  font-size: 12px;
  font-size: 1.2rem; }

.disclaimer-text {
  font-size: 10.8px;
  font-size: 1.08rem; }

/* ==========================
	  Links
   ========================== */
a {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: transparent;
  vertical-align: baseline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ef272d;
  text-decoration: none;
  cursor: pointer; }
  a img {
    border: 0 none;
    text-decoration: none; }
  a:hover {
    color: #a82620; }

/* ==========================
	  Headings
   ========================== */
h1, .h1 {
  font-size: 40px;
  font-size: 4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200; }
  @media (max-width: 62em) {
    h1, .h1 {
      font-size: 35px;
      font-size: 3.5rem; } }
  @media (max-width: 40em) {
    h1, .h1 {
      font-size: 30px;
      font-size: 3rem; } }

h2, .h2 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200; }
  @media (max-width: 62em) {
    h2, .h2 {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media (max-width: 40em) {
    h2, .h2 {
      font-size: 24px;
      font-size: 2.4rem; } }

h3, .h3 {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media (max-width: 62em) {
    h3, .h3 {
      font-size: 21px;
      font-size: 2.1rem; } }
  @media (max-width: 40em) {
    h3, .h3 {
      font-size: 18px;
      font-size: 1.8rem; } }

h4, .h4 {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200; }

h5, .h5 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit; }

h6, .h6 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

small {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

p, h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote {
  clear: inherit;
  vertical-align: middle; }

p, .p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word; }
  p:last-child, .p:last-child {
    margin-bottom: 0.33333em; }

.b {
  font-weight: 700; }

.uppercase {
  text-transform: capitalize; }

blockquote {
  width: 75%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border-left: 3px solid #5b5b5b;
  color: #5b5b5b;
  font-style: italic;
  padding-left: 1em; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

abbr {
  border-bottom: 1px dotted #5b5b5b;
  cursor: help; }

address {
  font-style: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: bottom; }

mark {
  background: yellow; }

/* ==========================
	  Pre
   ========================== */
pre {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: whitesmoke;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
  padding: 1em;
  word-wrap: break-word; }

kbd, samp {
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; }

kbd, samp {
  color: #a0d468; }

.valid, .is-valid {
  color: #a0d468; }

.code-comment {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }

i.fa {
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem; }

/* ==========================
    Logo
   ========================== */
.GLG {
  font-weight: bolder;
  letter-spacing: -3px; }

.logo_slash,
.division {
  font-weight: 200; }

.division {
  position: relative;
  left: -.1em;
  color: #757575; }

/* ==========================================================================
    Helpers -- Version: 1.9.0.0 - Compiled: timestamp()
   ========================================================================== */
.clear {
  clear: both; }

.relative {
  position: relative; }

.left {
  float: left;
  left: 0; }

.right {
  float: right;
  right: 0; }

/* Font Size Helpers */
.fs-1 {
  font-size: 1px;
  font-size: 0.1rem; }

.fs1 {
  font-size: 1px;
  font-size: 0.1rem; }

.fs-2 {
  font-size: 2px;
  font-size: 0.2rem; }

.fs2 {
  font-size: 2px;
  font-size: 0.2rem; }

.fs-3 {
  font-size: 3px;
  font-size: 0.3rem; }

.fs3 {
  font-size: 3px;
  font-size: 0.3rem; }

.fs-4 {
  font-size: 4px;
  font-size: 0.4rem; }

.fs4 {
  font-size: 4px;
  font-size: 0.4rem; }

.fs-5 {
  font-size: 5px;
  font-size: 0.5rem; }

.fs5 {
  font-size: 5px;
  font-size: 0.5rem; }

.fs-6 {
  font-size: 6px;
  font-size: 0.6rem; }

.fs6 {
  font-size: 6px;
  font-size: 0.6rem; }

.fs-7 {
  font-size: 7px;
  font-size: 0.7rem; }

.fs7 {
  font-size: 7px;
  font-size: 0.7rem; }

.fs-8 {
  font-size: 8px;
  font-size: 0.8rem; }

.fs8 {
  font-size: 8px;
  font-size: 0.8rem; }

.fs-9 {
  font-size: 9px;
  font-size: 0.9rem; }

.fs9 {
  font-size: 9px;
  font-size: 0.9rem; }

.fs-10 {
  font-size: 10px;
  font-size: 1rem; }

.fs10 {
  font-size: 10px;
  font-size: 1rem; }

.fs-11 {
  font-size: 11px;
  font-size: 1.1rem; }

.fs11 {
  font-size: 11px;
  font-size: 1.1rem; }

.fs-12 {
  font-size: 12px;
  font-size: 1.2rem; }

.fs12 {
  font-size: 12px;
  font-size: 1.2rem; }

.fs-13 {
  font-size: 13px;
  font-size: 1.3rem; }

.fs13 {
  font-size: 13px;
  font-size: 1.3rem; }

.fs-14 {
  font-size: 14px;
  font-size: 1.4rem; }

.fs14 {
  font-size: 14px;
  font-size: 1.4rem; }

.fs-15 {
  font-size: 15px;
  font-size: 1.5rem; }

.fs15 {
  font-size: 15px;
  font-size: 1.5rem; }

.fs-16 {
  font-size: 16px;
  font-size: 1.6rem; }

.fs16 {
  font-size: 16px;
  font-size: 1.6rem; }

.fs-17 {
  font-size: 17px;
  font-size: 1.7rem; }

.fs17 {
  font-size: 17px;
  font-size: 1.7rem; }

.fs-18 {
  font-size: 18px;
  font-size: 1.8rem; }

.fs18 {
  font-size: 18px;
  font-size: 1.8rem; }

.fs-19 {
  font-size: 19px;
  font-size: 1.9rem; }

.fs19 {
  font-size: 19px;
  font-size: 1.9rem; }

.fs-20 {
  font-size: 20px;
  font-size: 2rem; }

.fs20 {
  font-size: 20px;
  font-size: 2rem; }

.fs-21 {
  font-size: 21px;
  font-size: 2.1rem; }

.fs21 {
  font-size: 21px;
  font-size: 2.1rem; }

.fs-22 {
  font-size: 22px;
  font-size: 2.2rem; }

.fs22 {
  font-size: 22px;
  font-size: 2.2rem; }

.fs-23 {
  font-size: 23px;
  font-size: 2.3rem; }

.fs23 {
  font-size: 23px;
  font-size: 2.3rem; }

.fs-24 {
  font-size: 24px;
  font-size: 2.4rem; }

.fs24 {
  font-size: 24px;
  font-size: 2.4rem; }

.fs-25 {
  font-size: 25px;
  font-size: 2.5rem; }

.fs25 {
  font-size: 25px;
  font-size: 2.5rem; }

.fs-26 {
  font-size: 26px;
  font-size: 2.6rem; }

.fs26 {
  font-size: 26px;
  font-size: 2.6rem; }

.fs-27 {
  font-size: 27px;
  font-size: 2.7rem; }

.fs27 {
  font-size: 27px;
  font-size: 2.7rem; }

.fs-28 {
  font-size: 28px;
  font-size: 2.8rem; }

.fs28 {
  font-size: 28px;
  font-size: 2.8rem; }

.fs-29 {
  font-size: 29px;
  font-size: 2.9rem; }

.fs29 {
  font-size: 29px;
  font-size: 2.9rem; }

.fs-30 {
  font-size: 30px;
  font-size: 3rem; }

.fs30 {
  font-size: 30px;
  font-size: 3rem; }

.fs-31 {
  font-size: 31px;
  font-size: 3.1rem; }

.fs31 {
  font-size: 31px;
  font-size: 3.1rem; }

.fs-32 {
  font-size: 32px;
  font-size: 3.2rem; }

.fs32 {
  font-size: 32px;
  font-size: 3.2rem; }

.fs-33 {
  font-size: 33px;
  font-size: 3.3rem; }

.fs33 {
  font-size: 33px;
  font-size: 3.3rem; }

.fs-34 {
  font-size: 34px;
  font-size: 3.4rem; }

.fs34 {
  font-size: 34px;
  font-size: 3.4rem; }

.fs-35 {
  font-size: 35px;
  font-size: 3.5rem; }

.fs35 {
  font-size: 35px;
  font-size: 3.5rem; }

.fs-36 {
  font-size: 36px;
  font-size: 3.6rem; }

.fs36 {
  font-size: 36px;
  font-size: 3.6rem; }

.fs-37 {
  font-size: 37px;
  font-size: 3.7rem; }

.fs37 {
  font-size: 37px;
  font-size: 3.7rem; }

.fs-38 {
  font-size: 38px;
  font-size: 3.8rem; }

.fs38 {
  font-size: 38px;
  font-size: 3.8rem; }

.fs-39 {
  font-size: 39px;
  font-size: 3.9rem; }

.fs39 {
  font-size: 39px;
  font-size: 3.9rem; }

.fs-40 {
  font-size: 40px;
  font-size: 4rem; }

.fs40 {
  font-size: 40px;
  font-size: 4rem; }

.fs-41 {
  font-size: 41px;
  font-size: 4.1rem; }

.fs41 {
  font-size: 41px;
  font-size: 4.1rem; }

.fs-42 {
  font-size: 42px;
  font-size: 4.2rem; }

.fs42 {
  font-size: 42px;
  font-size: 4.2rem; }

.fs-43 {
  font-size: 43px;
  font-size: 4.3rem; }

.fs43 {
  font-size: 43px;
  font-size: 4.3rem; }

.fs-44 {
  font-size: 44px;
  font-size: 4.4rem; }

.fs44 {
  font-size: 44px;
  font-size: 4.4rem; }

.fs-45 {
  font-size: 45px;
  font-size: 4.5rem; }

.fs45 {
  font-size: 45px;
  font-size: 4.5rem; }

.fs-46 {
  font-size: 46px;
  font-size: 4.6rem; }

.fs46 {
  font-size: 46px;
  font-size: 4.6rem; }

.fs-47 {
  font-size: 47px;
  font-size: 4.7rem; }

.fs47 {
  font-size: 47px;
  font-size: 4.7rem; }

.fs-48 {
  font-size: 48px;
  font-size: 4.8rem; }

.fs48 {
  font-size: 48px;
  font-size: 4.8rem; }

.fs-49 {
  font-size: 49px;
  font-size: 4.9rem; }

.fs49 {
  font-size: 49px;
  font-size: 4.9rem; }

.fs-50 {
  font-size: 50px;
  font-size: 5rem; }

.fs50 {
  font-size: 50px;
  font-size: 5rem; }

.fs-51 {
  font-size: 51px;
  font-size: 5.1rem; }

.fs51 {
  font-size: 51px;
  font-size: 5.1rem; }

.fs-52 {
  font-size: 52px;
  font-size: 5.2rem; }

.fs52 {
  font-size: 52px;
  font-size: 5.2rem; }

.fs-53 {
  font-size: 53px;
  font-size: 5.3rem; }

.fs53 {
  font-size: 53px;
  font-size: 5.3rem; }

.fs-54 {
  font-size: 54px;
  font-size: 5.4rem; }

.fs54 {
  font-size: 54px;
  font-size: 5.4rem; }

.fs-55 {
  font-size: 55px;
  font-size: 5.5rem; }

.fs55 {
  font-size: 55px;
  font-size: 5.5rem; }

.fs-56 {
  font-size: 56px;
  font-size: 5.6rem; }

.fs56 {
  font-size: 56px;
  font-size: 5.6rem; }

.fs-57 {
  font-size: 57px;
  font-size: 5.7rem; }

.fs57 {
  font-size: 57px;
  font-size: 5.7rem; }

.fs-58 {
  font-size: 58px;
  font-size: 5.8rem; }

.fs58 {
  font-size: 58px;
  font-size: 5.8rem; }

.fs-59 {
  font-size: 59px;
  font-size: 5.9rem; }

.fs59 {
  font-size: 59px;
  font-size: 5.9rem; }

.fs-60 {
  font-size: 60px;
  font-size: 6rem; }

.fs60 {
  font-size: 60px;
  font-size: 6rem; }

.fs-61 {
  font-size: 61px;
  font-size: 6.1rem; }

.fs61 {
  font-size: 61px;
  font-size: 6.1rem; }

.fs-62 {
  font-size: 62px;
  font-size: 6.2rem; }

.fs62 {
  font-size: 62px;
  font-size: 6.2rem; }

.fs-63 {
  font-size: 63px;
  font-size: 6.3rem; }

.fs63 {
  font-size: 63px;
  font-size: 6.3rem; }

.fs-64 {
  font-size: 64px;
  font-size: 6.4rem; }

.fs64 {
  font-size: 64px;
  font-size: 6.4rem; }

.fs-65 {
  font-size: 65px;
  font-size: 6.5rem; }

.fs65 {
  font-size: 65px;
  font-size: 6.5rem; }

.fs-66 {
  font-size: 66px;
  font-size: 6.6rem; }

.fs66 {
  font-size: 66px;
  font-size: 6.6rem; }

.fs-67 {
  font-size: 67px;
  font-size: 6.7rem; }

.fs67 {
  font-size: 67px;
  font-size: 6.7rem; }

.fs-68 {
  font-size: 68px;
  font-size: 6.8rem; }

.fs68 {
  font-size: 68px;
  font-size: 6.8rem; }

.fs-69 {
  font-size: 69px;
  font-size: 6.9rem; }

.fs69 {
  font-size: 69px;
  font-size: 6.9rem; }

.fs-70 {
  font-size: 70px;
  font-size: 7rem; }

.fs70 {
  font-size: 70px;
  font-size: 7rem; }

.fs-71 {
  font-size: 71px;
  font-size: 7.1rem; }

.fs71 {
  font-size: 71px;
  font-size: 7.1rem; }

.fs-72 {
  font-size: 72px;
  font-size: 7.2rem; }

.fs72 {
  font-size: 72px;
  font-size: 7.2rem; }

.fs-73 {
  font-size: 73px;
  font-size: 7.3rem; }

.fs73 {
  font-size: 73px;
  font-size: 7.3rem; }

.fs-74 {
  font-size: 74px;
  font-size: 7.4rem; }

.fs74 {
  font-size: 74px;
  font-size: 7.4rem; }

.fs-75 {
  font-size: 75px;
  font-size: 7.5rem; }

.fs75 {
  font-size: 75px;
  font-size: 7.5rem; }

.fs-76 {
  font-size: 76px;
  font-size: 7.6rem; }

.fs76 {
  font-size: 76px;
  font-size: 7.6rem; }

.fs-77 {
  font-size: 77px;
  font-size: 7.7rem; }

.fs77 {
  font-size: 77px;
  font-size: 7.7rem; }

.fs-78 {
  font-size: 78px;
  font-size: 7.8rem; }

.fs78 {
  font-size: 78px;
  font-size: 7.8rem; }

.fs-79 {
  font-size: 79px;
  font-size: 7.9rem; }

.fs79 {
  font-size: 79px;
  font-size: 7.9rem; }

.fs-80 {
  font-size: 80px;
  font-size: 8rem; }

.fs80 {
  font-size: 80px;
  font-size: 8rem; }

.fs-81 {
  font-size: 81px;
  font-size: 8.1rem; }

.fs81 {
  font-size: 81px;
  font-size: 8.1rem; }

.fs-82 {
  font-size: 82px;
  font-size: 8.2rem; }

.fs82 {
  font-size: 82px;
  font-size: 8.2rem; }

.fs-83 {
  font-size: 83px;
  font-size: 8.3rem; }

.fs83 {
  font-size: 83px;
  font-size: 8.3rem; }

.fs-84 {
  font-size: 84px;
  font-size: 8.4rem; }

.fs84 {
  font-size: 84px;
  font-size: 8.4rem; }

.fs-85 {
  font-size: 85px;
  font-size: 8.5rem; }

.fs85 {
  font-size: 85px;
  font-size: 8.5rem; }

.fs-86 {
  font-size: 86px;
  font-size: 8.6rem; }

.fs86 {
  font-size: 86px;
  font-size: 8.6rem; }

.fs-87 {
  font-size: 87px;
  font-size: 8.7rem; }

.fs87 {
  font-size: 87px;
  font-size: 8.7rem; }

.fs-88 {
  font-size: 88px;
  font-size: 8.8rem; }

.fs88 {
  font-size: 88px;
  font-size: 8.8rem; }

.fs-89 {
  font-size: 89px;
  font-size: 8.9rem; }

.fs89 {
  font-size: 89px;
  font-size: 8.9rem; }

.fs-90 {
  font-size: 90px;
  font-size: 9rem; }

.fs90 {
  font-size: 90px;
  font-size: 9rem; }

.fs-91 {
  font-size: 91px;
  font-size: 9.1rem; }

.fs91 {
  font-size: 91px;
  font-size: 9.1rem; }

.fs-92 {
  font-size: 92px;
  font-size: 9.2rem; }

.fs92 {
  font-size: 92px;
  font-size: 9.2rem; }

.fs-93 {
  font-size: 93px;
  font-size: 9.3rem; }

.fs93 {
  font-size: 93px;
  font-size: 9.3rem; }

.fs-94 {
  font-size: 94px;
  font-size: 9.4rem; }

.fs94 {
  font-size: 94px;
  font-size: 9.4rem; }

.fs-95 {
  font-size: 95px;
  font-size: 9.5rem; }

.fs95 {
  font-size: 95px;
  font-size: 9.5rem; }

.fs-96 {
  font-size: 96px;
  font-size: 9.6rem; }

.fs96 {
  font-size: 96px;
  font-size: 9.6rem; }

.fs-97 {
  font-size: 97px;
  font-size: 9.7rem; }

.fs97 {
  font-size: 97px;
  font-size: 9.7rem; }

.fs-98 {
  font-size: 98px;
  font-size: 9.8rem; }

.fs98 {
  font-size: 98px;
  font-size: 9.8rem; }

.fs-99 {
  font-size: 99px;
  font-size: 9.9rem; }

.fs99 {
  font-size: 99px;
  font-size: 9.9rem; }

.fs-100 {
  font-size: 100px;
  font-size: 10rem; }

.fs100 {
  font-size: 100px;
  font-size: 10rem; }

.fs-101 {
  font-size: 101px;
  font-size: 10.1rem; }

.fs101 {
  font-size: 101px;
  font-size: 10.1rem; }

.fs-102 {
  font-size: 102px;
  font-size: 10.2rem; }

.fs102 {
  font-size: 102px;
  font-size: 10.2rem; }

.fs-103 {
  font-size: 103px;
  font-size: 10.3rem; }

.fs103 {
  font-size: 103px;
  font-size: 10.3rem; }

.fs-104 {
  font-size: 104px;
  font-size: 10.4rem; }

.fs104 {
  font-size: 104px;
  font-size: 10.4rem; }

.fs-105 {
  font-size: 105px;
  font-size: 10.5rem; }

.fs105 {
  font-size: 105px;
  font-size: 10.5rem; }

.fs-106 {
  font-size: 106px;
  font-size: 10.6rem; }

.fs106 {
  font-size: 106px;
  font-size: 10.6rem; }

.fs-107 {
  font-size: 107px;
  font-size: 10.7rem; }

.fs107 {
  font-size: 107px;
  font-size: 10.7rem; }

.fs-108 {
  font-size: 108px;
  font-size: 10.8rem; }

.fs108 {
  font-size: 108px;
  font-size: 10.8rem; }

.fs-109 {
  font-size: 109px;
  font-size: 10.9rem; }

.fs109 {
  font-size: 109px;
  font-size: 10.9rem; }

.fs-110 {
  font-size: 110px;
  font-size: 11rem; }

.fs110 {
  font-size: 110px;
  font-size: 11rem; }

.fs-111 {
  font-size: 111px;
  font-size: 11.1rem; }

.fs111 {
  font-size: 111px;
  font-size: 11.1rem; }

.fs-112 {
  font-size: 112px;
  font-size: 11.2rem; }

.fs112 {
  font-size: 112px;
  font-size: 11.2rem; }

.fs-113 {
  font-size: 113px;
  font-size: 11.3rem; }

.fs113 {
  font-size: 113px;
  font-size: 11.3rem; }

.fs-114 {
  font-size: 114px;
  font-size: 11.4rem; }

.fs114 {
  font-size: 114px;
  font-size: 11.4rem; }

.fs-115 {
  font-size: 115px;
  font-size: 11.5rem; }

.fs115 {
  font-size: 115px;
  font-size: 11.5rem; }

.fs-116 {
  font-size: 116px;
  font-size: 11.6rem; }

.fs116 {
  font-size: 116px;
  font-size: 11.6rem; }

.fs-117 {
  font-size: 117px;
  font-size: 11.7rem; }

.fs117 {
  font-size: 117px;
  font-size: 11.7rem; }

.fs-118 {
  font-size: 118px;
  font-size: 11.8rem; }

.fs118 {
  font-size: 118px;
  font-size: 11.8rem; }

.fs-119 {
  font-size: 119px;
  font-size: 11.9rem; }

.fs119 {
  font-size: 119px;
  font-size: 11.9rem; }

.fs-120 {
  font-size: 120px;
  font-size: 12rem; }

.fs120 {
  font-size: 120px;
  font-size: 12rem; }

.fs-121 {
  font-size: 121px;
  font-size: 12.1rem; }

.fs121 {
  font-size: 121px;
  font-size: 12.1rem; }

.fs-122 {
  font-size: 122px;
  font-size: 12.2rem; }

.fs122 {
  font-size: 122px;
  font-size: 12.2rem; }

.fs-123 {
  font-size: 123px;
  font-size: 12.3rem; }

.fs123 {
  font-size: 123px;
  font-size: 12.3rem; }

.fs-124 {
  font-size: 124px;
  font-size: 12.4rem; }

.fs124 {
  font-size: 124px;
  font-size: 12.4rem; }

.fs-125 {
  font-size: 125px;
  font-size: 12.5rem; }

.fs125 {
  font-size: 125px;
  font-size: 12.5rem; }

.fs-126 {
  font-size: 126px;
  font-size: 12.6rem; }

.fs126 {
  font-size: 126px;
  font-size: 12.6rem; }

.fs-127 {
  font-size: 127px;
  font-size: 12.7rem; }

.fs127 {
  font-size: 127px;
  font-size: 12.7rem; }

.fs-128 {
  font-size: 128px;
  font-size: 12.8rem; }

.fs128 {
  font-size: 128px;
  font-size: 12.8rem; }

/* Create widths in increments of 5% */
[class*='width-'] {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.width-5 {
  width: 5%; }

.width-10 {
  width: 10%; }

.width-15 {
  width: 15%; }

.width-20 {
  width: 20%; }

.width-25 {
  width: 25%; }

.width-30 {
  width: 30%; }

.width-35 {
  width: 35%; }

.width-40 {
  width: 40%; }

.width-45 {
  width: 45%; }

.width-50 {
  width: 50%; }

.width-55 {
  width: 55%; }

.width-60 {
  width: 60%; }

.width-65 {
  width: 65%; }

.width-70 {
  width: 70%; }

.width-75 {
  width: 75%; }

.width-80 {
  width: 80%; }

.width-85 {
  width: 85%; }

.width-90 {
  width: 90%; }

.width-95 {
  width: 95%; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center;
  clear: both; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-bold {
  font-weight: 700; }

.image-left {
  float: left;
  margin-right: 1em; }

.image-center {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center; }

.image-right {
  float: right;
  margin-left: 1em; }

.box {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  background: #e6e6e6; }
  .box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
    margin-bottom: 0; }

.border-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.bordered-solid {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border: 1px solid #5b5b5b; }

.bordered-dotted {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border: 1px dotted #5b5b5b; }

.bordered-left, .bordered-left-dark {
  padding-left: 2%;
  border-left: 1px dotted #5b5b5b; }

.bordered-left-dark {
  border-left: 1px solid #333333; }

.bordered-right, .bordered-right-dark {
  padding-right: 2%;
  border-right: 1px dotted #5b5b5b; }

.bordered-right-dark {
  border-right: 1px solid #333333; }

.column-count-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em; }

.column-count-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em; }

.column-count-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em; }

.column-count-6 {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  -ms-column-count: 6;
  column-count: 6;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em; }

.nowrap {
  overflow: hidden; }

.hidden, .desktop-hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.no-fouc {
  display: none; }

.js-last {
  border-bottom: 0; }

.desktop-br {
  display: block; }

[class*='truncate'] {
  overflow: hidden;
  margin-bottom: 1em; }

@media (max-width: 62em) {
  .tablet-hidden {
    display: none !important; }

  .desktop-hidden {
    display: block; }

  .tablet-br {
    display: block; }

  .bordered-left, .bordered-left-dark, .bordered-right, .bordered-right-dark {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: none; }

  .column-count-2, .column-count-3, .column-count-4 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    -ms-column-gap: 2em;
    column-gap: 2em; }

  .column-count-6 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    -ms-column-gap: 2em;
    column-gap: 2em; } }
@media (max-width: 40em) {
  .mobile-hidden {
    display: none !important; }

  .mobile-full {
    display: block;
    float: none; }

  .mobile-br {
    display: block; }

  .column-count-2, .column-count-3, .column-count-4 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -ms-column-gap: 0;
    column-gap: 0; } }
/* ==========================================================================
    Lists -- Version: 1.9.0.0 - Compiled: timestamp()
   ========================================================================== */
ol {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
  ol ol {
    margin-bottom: 0; }

ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
  ul ul {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; }

/* Bulleted List Items */
.bulleted ~ ul {
  margin-bottom: 0; }
.bulleted li {
  list-style: outside disc;
  margin-left: 1em;
  border-bottom: none; }

/* Horizontal List Items */
.horizontal li {
  display: inline; }
.horizontal [class*='column-count-'] li {
  display: inline-block;
  *zoom: 1;
  *display: inline; }
.horizontal.slashes li {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
  .horizontal.slashes li:after {
    content: '/';
    padding-top: 0;
    padding-right: 0.5em;
    padding-bottom: 0;
    padding-left: 0.5em; }
  .horizontal.slashes li.js-last:after {
    content: ''; }
.horizontal.pipes li {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
  .horizontal.pipes li:after {
    content: '|';
    padding-top: 0;
    padding-right: 0.25em;
    padding-bottom: 0;
    padding-left: 0.5em; }
  .horizontal.pipes li.js-last:after {
    content: ''; }

/* Vertical List Items */
.vertical li {
  padding-top: 0.5em;
  padding-right: 0;
  padding-bottom: 0.5em;
  padding-left: 0; }
.vertical.lined li {
  overflow: auto;
  border-bottom: 1px dotted #cccccc; }
  .vertical.lined li.js-last {
    border-bottom: none; }

/* Ordered List */
ol li {
  list-style: decimal;
  list-style-position: outside; }

/* Definition List */
dt {
  font-weight: bold; }

dd {
  margin-left: 1em; }

/* ==========================================================================
    Buttons -- Version: 0.4.2 - Compiled: timestamp()
   ========================================================================== */
.btn, button {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  min-width: 8em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0.375em;
  padding-right: 1em;
  padding-bottom: 0.375em;
  padding-left: 1em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased; }
  .btn.block, button.block {
    display: block;
    width: 100%;
    text-align: center; }
  .btn.btn-xl, button.btn-xl {
    padding-top: 0.75em;
    padding-right: 2em;
    padding-bottom: 0.75em;
    padding-left: 2em; }
  .btn.btn-lg, button.btn-lg {
    padding-top: 0.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em; }
  .btn.btn-sm, button.btn-sm {
    min-width: 0;
    padding-top: 0.16667em;
    padding-right: 0.66667em;
    padding-bottom: 0.16667em;
    padding-left: 0.66667em; }
  @media (max-width: 40em) {
    .btn.mobile-full, button.mobile-full {
      display: block;
      width: 100%; }
      .btn.mobile-full a, button.mobile-full a {
        display: block;
        text-align: center; }
      .btn.mobile-full + .btn.mobile-full, button.mobile-full + .btn.mobile-full, .btn.mobile-full + button.mobile-full, button.mobile-full + button.mobile-full {
        margin-top: 1em; } }

/* Firefox */
@-moz-document url-prefix() {
  /* Remove button padding in FF */
  button::-moz-focus-inner {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 0 none; }

  input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 0 none; } }
/* ie (.ie) */
/* make buttons play nice in IE */
.ie button {
  overflow: visible;
  width: auto; }

/* ==========================================================================
    Buttons Theme -- Version: 0.4.2 - Compiled: timestamp()
   ========================================================================== */
.btn, button {
  color: #ef272d; }
  .btn:hover, button:hover {
    border-bottom: none;
    background: #e5e5e5; }
  .btn:focus, button:focus {
    background: #bfbfbf;
    background-image: 0; }
  .btn.btn-primary, button.btn-primary {
    background: #ef272d;
    color: white; }
    .btn.btn-primary:hover, button.btn-primary:hover {
      background: #a82620; }
    .btn.btn-primary:active, button.btn-primary:active {
      background: #a40c11;
      background-image: 0;
      color: white; }
  .btn.btn-error, button.btn-error {
    background: transparent;
    -webkit-box-shadow: inset 0 0 0 1px #ef272d;
    -moz-box-shadow: inset 0 0 0 1px #ef272d;
    box-shadow: inset 0 0 0 1px #ef272d; }
    .btn.btn-error:hover, button.btn-error:hover {
      background: #f89ea0; }
  .btn.btn-success, button.btn-success {
    background: #a0d468;
    color: white; }
    .btn.btn-success:hover, button.btn-success:hover {
      background: #8cc152; }
  .btn.btn-info, button.btn-info {
    background: #0088cc;
    color: white; }
    .btn.btn-info:hover, button.btn-info:hover {
      background: #005580; }
  .btn.btn-black, button.btn-black {
    background: black;
    color: white; }
    .btn.btn-black:hover, button.btn-black:hover {
      background: #5b5b5b; }
  .btn:disabled, .btn.js-disabled, .btn.disabled, .btn:disabled:hover, .btn:disabled:active, .btn.js-disabled:hover, .btn.js-disabled:active, .btn.disabled:hover, .btn.disabled:active, button:disabled, button.js-disabled, button.disabled, button.btn:disabled:hover, button.btn:disabled:active, button.btn.js-disabled:hover, button.btn.js-disabled:active, button.btn.disabled:hover, button.btn.disabled:active, button:disabled:hover, button:disabled:active, button.js-disabled:hover, button.js-disabled:active, button.disabled:hover, button.disabled:active {
    cursor: default;
    background: #cccccc;
    color: #5b5b5b; }
  .btn.js-active, button.js-active {
    background: #a0d468;
    color: white; }

/* ==========================================================================
    Pagination -- Version: 1.9.0.0 - Compiled: timestamp()
   ========================================================================== */
.pagination ol {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
.pagination li {
  display: inline;
  position: relative; }
  .pagination li a {
    border: none; }
  .pagination li.js-last {
    margin-right: 0; }
@media (max-width: 40em) {
  .pagination {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 100%;
    margin: 0 auto;
    text-align: center; } }

/* ==========================================================================
    Pills -- Version: 1.9.0.0 - Compiled: timestamp()
   ========================================================================== */
label + .pill, label + .pill-black, label + .pill-white, label + .pill-red, .pill + label, .pill-black + label, .pill-white + label, .pill-red + label {
  margin-left: 0.33333em; }

.pill, .pill-black, .pill-white, .pill-red {
  padding-top: 0.15em;
  padding-right: 0.75em;
  padding-bottom: 0.15em;
  padding-left: 0.75em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: black;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 700;
  color: white; }
  .pill-white {
    background: white;
    -webkit-box-shadow: inset 0 0 0 1px #333333;
    -moz-box-shadow: inset 0 0 0 1px #333333;
    box-shadow: inset 0 0 0 1px #333333;
    color: #333333; }
  .pill-red {
    background: #ef272d; }

/* ==========================================================================
    Modals -- Version: 0.4.0.1 - Updated: 4/28/2014
   ========================================================================== */
.modal .modal-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  zoom: 1;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 9999; }
.modal .modal-container {
  display: none;
  position: fixed;
  overflow: visible;
  top: 50%;
  left: 0;
  right: 0;
  height: auto;
  width: 45em;
  max-width: 90%;
  margin: auto;
  margin-top: -16em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: none repeat scroll 0 0 #fff;
  color: #333333;
  z-index: 99999; }
  .modal .modal-container > .modal-content {
    -webkit-box-shadow: 0 0 5px 2px #555555;
    -moz-box-shadow: 0 0 5px 2px #555555;
    box-shadow: 0 0 5px 2px #555555; }
.modal .modal-close {
  position: absolute;
  float: right;
  top: 1em;
  right: 1em;
  height: 32px;
  width: 32px;
  background: url(/scaffold/images/modal-close.png) no-repeat;
  cursor: pointer; }
.modal .modal-header {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #f0f2f5; }
  .modal .modal-header h1, .modal .modal-header h2, .modal .modal-header h3, .modal .modal-header h4, .modal .modal-header h5, .modal .modal-header h6 {
    margin-bottom: 0; }
.modal .modal-body {
  overflow: auto;
  max-height: 25em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em; }
.modal .modal-footer {
  overflow: auto;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #f0f2f5; }

@media (max-width: 40em) {
  .modal-component {
    min-height: 500px; }

  .modal .modal-body {
    max-height: 15.625em; } }
/* ===========================================================================================
    Accessibility  / 508 Compliance -- Version: 0.4.2 - Compiled: timestamp()
   =========================================================================================== */
.visually-hidden {
  border: none;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin-top: -1em;
  margin-right: -1em;
  margin-bottom: -1em;
  margin-left: -1em;
  overflow: hidden;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: absolute; }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* ==========================================================================
    Forms -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
input, textarea, label, select {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline; }

input, textarea, select {
  width: 100%;
  max-width: 100%;
  padding-top: 0.35em;
  padding-right: 0.5em;
  padding-bottom: 0.35em;
  padding-left: 0.5em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: 0;
  border: 1px solid #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: 300; }
  input[type='search'], textarea[type='search'], select[type='search'] {
    padding-left: 2em;
    background: url(/scaffold/images/iconmonstr-magnifier-5-icon-48.png) no-repeat left center;
    background-size: 1em;
    background-position: .5em; }
    input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-datetime-edit-fields-wrapper, textarea[type='search']::-webkit-search-decoration, textarea[type='search']::-webkit-search-cancel-button, textarea[type='search']::-webkit-datetime-edit-fields-wrapper, select[type='search']::-webkit-search-decoration, select[type='search']::-webkit-search-cancel-button, select[type='search']::-webkit-datetime-edit-fields-wrapper {
      -webkit-appearance: none; }
  input[type="radio"], input[type="checkbox"], textarea[type="radio"], textarea[type="checkbox"], select[type="radio"], select[type="checkbox"] {
    float: left;
    margin-top: 0.25em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    margin-left: 0.1em; }

input[type="checkbox"], input[type="radio"] {
  width: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0; }

input::-webkit-datetime-edit-fields-wrapper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

select, datalist, input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: #333333;
  font-weight: 100; }

:-moz-placeholder {
  color: #333333;
  font-weight: 100; }

::-moz-placeholder {
  color: #333333;
  font-weight: 100; }

:-ms-input-placeholder {
  color: #333333;
  font-weight: 100; }

.formitem {
  float: left;
  width: 100%; }

.required:after {
  content: '*'; }

/* Honeypot */
#fillit {
  display: none; }

/* ie (.ie) */
.ie input[type="radio"] {
  border: 0px !important; }

/* ==========================================================================
    Images -- Version: 0.4.1 - Compiled: timestamp()
   ========================================================================== */
figure {
  position: relative;
  width: 100%; }
  figure img {
    max-width: 100%;
    margin: 0 auto 1em; }

figcaption {
  margin-bottom: 0.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700; }

img {
  display: inherit;
  border: 0; }

.image-rounded {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.image-circular {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.image-bordered {
  border: 0.5em solid #cccccc; }

[class*='image-focus-'] {
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat; }

.image-focus-1 {
  background-position: left center; }

.image-focus-2 {
  background-position: 25% center; }

.image-focus-3 {
  background-position: 50% center; }

.image-focus-4 {
  background-position: 75% center; }

.image-focus-5 {
  background-position: right center; }

/* ie9 (.twc-ie9) */
/* Fix IE9 overflow bug */
.ie9 svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
    Videos -- Version: 0.4.0.1 - Compiled: timestamp()
   ========================================================================== */
video {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  top: 0;
  left: 0;
  max-width: 100%;
  margin-bottom: 0; }
  @media (max-width: 40em) {
    video video {
      height: auto; } }
  figure video {
    margin-bottom: 1em; }

audio {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  max-width: 100%; }
  audio:not([controls]) {
    display: none; }

/* ==========================================================================
    Tables -- Version: 0.4.1- Compiled: timestamp()
   ========================================================================== */
table {
  width: 100%;
  max-width: 100%; }

th {
  background: transparent; }

tr:nth-of-type(even) {
  background: #f2f2f2; }

th, td {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em; }

/* ==========================================================================
    Modules -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
.box-column {
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  background: white;
  border: 1px solid #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto; }

hr {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  border: 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white; }

/* ==========================================================================
    Jump To -- Version: 1.9.0.0 - Compiled: timestamp()
   ========================================================================== */
.jumpTo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  border: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: black;
  background: rgba(0, 0, 0, 0.675);
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 999999;
  -webkit-transform: translateZ(0);
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #0f0;
  text-indent: 0.01px;
  text-overflow: ''; }

/* ==========================================================================
    Prototype -- Version: 0.4.4  - Updated: timestamp()
   ========================================================================== */
.viewport, .loadtime {
  position: fixed;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  background: black;
  background: rgba(0, 0, 0, 0.675);
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #0f0; }

.viewport {
  top: 0;
  right: 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.loadtime {
  bottom: 0;
  left: 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

.internal {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  color: #0088cc;
  text-align: center; }

@media (max-width: 40em) {
  .fold {
    position: absolute;
    top: 480px;
    left: 0;
    width: 100%;
    border-top: 1px solid #0f0;
    z-index: 10000; } }
/* ==========================================================================
    Styleguide -- Version: 0.4.2  - Compiled: timestamp()
   ========================================================================== */
.styleguide a.logo {
  color: inherit; }
  .styleguide a.logo:hover {
    border-bottom: none; }
.styleguide .colors, .styleguide .grid {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .styleguide .colors.color-white, .styleguide .color-white.grid {
    outline: 1px solid white; }
  @media (max-width: 62em) {
    .styleguide .colors, .styleguide .grid {
      margin-bottom: 1em; } }
.styleguide .swatch {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto; }
.styleguide .swatch-color {
  padding-top: 5em;
  padding-right: 1em;
  padding-bottom: 5em;
  padding-left: 1em; }
.styleguide .swatch-info {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background: white;
  color: #333333;
  text-align: center; }
.styleguide .grid {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #005580; }
  .styleguide .grid:nth-of-type(even) {
    background: #33bbff; }
.styleguide .prettyprint {
  display: none; }
