<span id="carousel-anchor" class="h2 jumpTo-anchor">Carousel</span>

<div class="carousel">
  <div class="image-content-panel image-focus-3">
    <img src="http://www.fillmurray.com/g/320/200" alt="">
    <div class="feature">
      <div class="container">
        <h2>Banner Text</h2>
        <p>Engaging Headline Goes Right Here</p>
        <a class="cta mobile-full" href="">Call to Action <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="image-content-panel image-focus-3">
    <img src="http://www.fillmurray.com/g/320/200" alt="">
    <div class="feature">
      <div class="container">
        <h2>Banner Text</h2>
        <p>Engaging Headline Goes Right Here</p>
        <a class="cta mobile-full" href="">Call to Action <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="image-content-panel image-focus-3">
    <img src="http://www.fillmurray.com/g/320/200" alt="">
    <div class="feature">
      <div class="container">
        <h2>Banner Text</h2>
        <p>Engaging Headline Goes Right Here</p>
        <a class="cta mobile-full" href="">Call to Action <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="image-content-panel image-focus-3">
    <img src="http://www.fillmurray.com/g/320/200" alt="">
    <div class="feature">
      <div class="container">
        <h2>Banner Text</h2>
        <p>Engaging Headline Goes Right Here</p>
        <a class="cta mobile-full" href="">Call to Action <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="image-content-panel image-focus-3">
    <img src="http://www.fillmurray.com/g/320/200" alt="">
    <div class="feature">
      <div class="container">
        <h2>Banner Text</h2>
        <p>Engaging Headline Goes Right Here</p>
        <a class="cta mobile-full" href="">Call to Action <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="image-content-panel image-focus-3">
    <img src="http://www.fillmurray.com/g/320/200" alt="">
    <div class="feature">
      <div class="container">
        <h2>Banner Text</h2>
        <p>Engaging Headline Goes Right Here</p>
        <a class="cta mobile-full" href="">Call to Action <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>
