<span id="tooltips" class="h2 jumpTo-anchor">Tooltips</span>

<div class="right">
  <a class="btn btn-primary" href="tooltips">Isolate</a>
</div>

<div class="box-column clearfix">

  <div class="row">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. <span class="has-tooltip" aria-describedby="tip1">tooltip top <i class="fa fa-google"></i><span id="tip1" class="tip tip-top text-center">Check me out <a href="http://google.com">I'm a link</a>.</span></span>. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. <span class="has-tooltip" aria-describedby="tip2"><i class="fa fa-info"></i> tooltip bottom<span id="tip2" class="tip tip-bottom text-center">Check me out <a href="http://google.com">I'm a link</a>.</span></span>. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. <span class="has-tooltip" aria-describedby="tip3">Definition <i class="fa fa-book"></i><span id="tip3" class="tip tip-left"><span class="h4">Curmudgeon</span><br>/kərˈməjən/<br><em>noun</em><br>a bad-tempered or surly person.<span class="footer"><a href="http://dictionary.reference.com/browse/curmudgeon">Dictionary.com</a></span></span></span>. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. <span class="has-tooltip" aria-describedby="tip4">tooltip right<span id="tip4" class="tip tip-right text-center"><a class="cta" href="http://google.com">I'm a CTA <i class="fa fa-chevron-right"></i></a></span></span>. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

    <hr>

    <span class="has-tooltip" aria-describedby="tip5">section tooltip
      <span id="tip5" class="tip tip-right text-center">

        <span class="row">
          <span class="fourth bordered-right"><i class="fa fa-play"></i></span>
          <span class="fourth bordered-right"><i class="fa fa-pause"></i></span>
          <span class="fourth bordered-right"><i class="fa fa-stop"></i></span>
          <span class="fourth"><i class="fa fa-eject"></i></span>
        </span>

      </span>
    </span>

    <hr>

    <h6>With an Image</h6>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. <span class="has-tooltip" aria-describedby="tip6">tooltip with an image <i class="fa fa-photo"></i><span id="tip6" class="tip tip-bottom"><img class="left" src="{{ site.baseurl }}/media/images/headshot.jpg" alt="headshot">Check me out</span></span>. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

  </div>

{% highlight html %}
<span class="has-tooltip" aria-describedby="tip1">I have a tooltip
  <span id="tip1" class="tip tip-top">Check me out <a href="http://google.com">I'm a link</a>.</span>
</span>
{% endhighlight %}

</div>
