<span id="tooltips" class="h2 jumpTo-anchor">Tooltips</span>

<div class="right">
  <a class="btn btn-primary" href="tooltips">Isolate</a>
</div>

<div class="box-column clearfix">

  <div class="row">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. <span title="Lorem ipsum dolor sit amet" class="tooltip tooltip-bottom">tooltip</span>. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

    <p>Lorem <span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, deserunt?" class="tooltip tooltip-top">tooltip</span>. ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. <span title="Lorem ipsum dolor sit amet" class="tooltip tooltip-left">tooltip</span>. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

    <p>Lorem <span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, deserunt?" class="tooltip tooltip-right">tooltip</span>. ipsum dolor sit amet, consectetur adipisicing elit. Eum tempore, labore dignissimos cupiditate? Earum asperiores. molestiae ad praesentium qui beatae nam, velit non, aliquid, fugiat impedit vitae distinctio consequatur. Neque nobis nulla vitae dolores eius!</p>

  </div>

{% highlight html %}
<span title="Lorem ipsum dolor sit amet" class="tooltip tooltip-bottom">tooltip</span>
{% endhighlight %}

</div>
