---
layout: default
title: Styleguide
class: styleguide
---

<p>Version: {{ site.version }} -- Updated: {{ site.time }}</p>
<hr>

<!-- Loop through and include all styleguide sections -->
{% include styleguide/about/index.html %}
{% include styleguide/colors/index.html %}
{% include styleguide/typography/index.html %}
{% include styleguide/buttons/index.html %}
{% include styleguide/grid/index.html %}
{% include styleguide/images/index.html %}
{% include styleguide/video/index.html %}
{% include styleguide/audio/index.html %}
{% include styleguide/best_practices/index.html %}

  <h2>FIN.</h2>
