---
layout: styleguide
title: Styleguide + Pattern Library
class: styleguide
---

<p>Version: 0.2.1 -- Updated: {{ site.time }}</p>
<hr>

<!-- Loop through and include all styleguide sections -->
{% include styleguide/about/index.html %}
{% include styleguide/colors/index.html %}
{% include styleguide/typography/index.html %}
{% include styleguide/lists/index.html %}
{% include styleguide/breadcrumbs/index.html %}
{% include styleguide/buttons/index.html %}
{% include styleguide/pagination/index.html %}
{% include styleguide/grid/index.html %}
{% include styleguide/flexbox/index.html %}
{% include styleguide/forms/index.html %}
{% include styleguide/pills/index.html %}
{% include styleguide/modals/index.html %}
{% include styleguide/box/index.html %}
{% include styleguide/tables/index.html %}
{% include styleguide/images/index.html %}
{% include styleguide/video/index.html %}
{% include styleguide/audio/index.html %}
{% include styleguide/best_practices/index.html %}

  <h2>FIN.</h2>