<span id="colors-anchor" class="h2 jumpTo-anchor">Colors</span>

<div class="right">
  <a class="btn btn-primary" href="colors">Isolate</a>
</div>

<div class="box-column clear">
  <h3>Slab Colors</h3>
  <div class="row clearfix">
    <div class="fourth">
      <div class="swatch">
        <div class="swatch-color color-grey">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="fourth">
      <div class="swatch">
        <div class="swatch-color color-dark-grey">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="fourth">
      <div class="swatch">
        <div class="swatch-color color-light-grey">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="fourth">
      <div class="swatch">
        <div class="swatch-color color-off-white">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="third">
      <div class="swatch">
        <div class="swatch-color color-primary-red">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-primary-green">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-primary-blue">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-primary-orange">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-primary-yellow">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-primary-indigo">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-primary-violet">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>

    <div class="third">
      <div class="swatch">
        <div class="swatch-color color-secondary-red">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-secondary-green">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-secondary-blue">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-secondary-orange">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-secondary-yellow">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-secondary-indigo">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-secondary-violet">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>

    <div class="third">
      <div class="swatch">
        <div class="swatch-color color-tertiary-red">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-tertiary-green">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-tertiary-blue">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-tertiary-orange">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-tertiary-yellow">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-tertiary-indigo">
        </div>
        <div class="swatch-info">
        </div>
      </div>

      <div class="swatch">
        <div class="swatch-color color-tertiary-violet">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h3>Typography Colors</h3>

  <div class="row clearfix">
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-text">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-link">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-error">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-info">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
    <div class="column fifth">
      <div class="swatch">
        <div class="swatch-color color-success">
        </div>
        <div class="swatch-info">
        </div>
      </div>
    </div>
  </div>

</div>
