<span id="lists-anchor" class="h2 jumpTo-anchor">Lists</span>

<div class="right">
  <a class="btn btn-primary" href="lists">Isolate</a>
</div>

<p>Unordered and ordered lists are composed virtually the same. The &lt;ul&gt; is used for non-sequential orderingm while the &lt;ol&gt; is for specific ordering and are preceeded by numbers by default. I start out by stripping all styling from any lists, including padding and margin. Bulleted lists are then classed as &lt;ul class="bulleted&gt;, etc. Lists also get classes added to the first and last item in each (.js-first / .js-last), this gets used for removing any border that we don't want to appear at the top or bottom in particular. Examples below.</p>

<div class="box-column clear">
    <h3>A Basic Unordered List</h3>

    <ul>
        <li>This is a list item in an unordered list</li>
        <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
        <li>
            Lists can be nested inside of each other
            <ul>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an unordered list</li>
            </ul>
        </li>
        <li>This is the last list item</li>
    </ul>

{% highlight html %}
<ul>
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
        Lists can be nested inside of each other
        <ul>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an unordered list</li>
        </ul>
    </li>
    <li>This is the last list item</li>
</ul>
{% endhighlight %}

    <hr>

    <h3>A Vertical Bulleted Unordered List</h3>
    <ul class="vertical bulleted">
        <li>This is a list item in an unordered list</li>
        <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
        <li>
            Lists can be nested inside of each other
            <ul>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an unordered list</li>
            </ul>
        </li>
        <li>This is the last list item</li>
    </ul>

{% highlight html %}
<ul class="vertical bulleted">
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
        Lists can be nested inside of each other
        <ul>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an unordered list</li>
        </ul>
    </li>
    <li>This is the last list item</li>
</ul>
{% endhighlight %}

    <hr>

    <h3>Ordered List</h3>

    <ol>
        <li>This is a list item in an ordered list</li>
        <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
        <li>
            Lists can be nested inside of each other
            <ol>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an ordered list</li>
            </ol>
        </li>
        <li>This is the last list item</li>
    </ol>

{% highlight html %}
<ol>
    <li>This is a list item in an ordered list</li>
    <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
    <li>
        Lists can be nested inside of each other
        <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list</li>
        </ol>
    </li>
    <li>This is the last list item</li>
</ol>
{% endhighlight %}

    <hr>

    <h3>Definition List</h3>

    <dl>
        <dt>Definition List</dt>
        <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
        <dt>This is a term.</dt>
        <dd>This is the definition of that term, which both live in a dl.</dd>
        <dt>Here is another term.</dt>
        <dd>And it gets a definition too, which is this line.</dd>
        <dt>Here is term that shares a definition with the term below.</dt>
        <dd>And it gets a definition too, which is this line.</dd>
    </dl>

{% highlight html %}
<dl>
    <dt>Definition List</dt>
    <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
    <dt>This is a term.</dt>
    <dd>This is the definition of that term, which both live in a dl.</dd>
    <dt>Here is another term.</dt>
    <dd>And it gets a definition too, which is this line.</dd>
    <dt>Here is term that shares a definition with the term below.</dt>
    <dd>And it gets a definition too, which is this line.</dd>
</dl>
{% endhighlight %}

</div>

<div class="box-column clear">
    <h3>Style those lists!</h3>
    <h4>Vertical - adds some breathing room</h4>
    <ul class="vertical">
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor</li>
    </ul>

    <hr>

    <h4>Vertical Lined - adds some visuals breaks between li's</h4>
    <ul class="vertical lined">
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor</li>
    </ul>

    <hr>

    <h4>Vertical Lined - adds some visuals breaks between li's</h4>
    <ul class="vertical striped">
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor</li>
    </ul>

    <hr>

    <h4>Vertical Lined &amp; Striped - well, you get it!</h4>
    <ul class="vertical lined striped">
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor</li>
    </ul>

    <hr>

    <h4>Horizontal Slashes - add dividers to your list</h4>
    <ul class="horizontal slashes">
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor</li>
    </ul>

    <hr>

    <h4>Horizontal Pipes - add dividers to your list</h4>
    <ul class="horizontal pipes">
        <li>Lorem</li>
        <li>Ipsum</li>
        <li>Dolor</li>
    </ul>
</div>
