// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Base Theme -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

body {
  background: $site-background;
}

a.logo {
  color: inherit;
  &:hover {
    border-bottom: none;
    color: inherit;
  }
}

footer.container {
	@include margin($margin, auto);
  text-align: center;
}
