// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Nav Theme -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

nav {
  background: $color-primary-red;
  color: $color-white;
  .container {
  	@include padding;
  }
  li {
  	@include padding($padding);
  	&.active {
      background: darken($color-primary-red, 5%);
    }
  	&:hover {
  		background: $color-secondary-red;
  	}
  }
}
