<span id="drop-anchor" class="h2 jumpTo-anchor">Drop</span>

<div class="right">
  <a class="btn btn-primary" href="drop">Isolate</a>
</div>

<div class="box-column clear">
  <div id="drop1" class="drop" ondrop="drop(event)" ondragover="allowDrop(event)">
    <img src="http://www.w3schools.com/html/img_w3slogo.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
  </div>

  <div id="drop2" class="drop" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

{% highlight html %}
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
  <img src="img_w3slogo.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
</div>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
{% endhighlight %}

</div>
