<span id="box-anchor" class="h2 jumpTo-anchor">Dynamic Message Boxes</span>

<div class="right">
  <a class="btn btn-primary" href="message-box">Isolate</a>
</div>

<div class="box-column clearfix">

  <div class="row">
    <div class="message-loading">
      <span class="message">loading test message</span>
    </div>
  </div>

  <div class="row">
    <div class="message-valid">
      <span class="message">valid test message</span>
    </div>
  </div>


  <div class="row">
    <div class="message-warning">
      <span class="message">warning test message</span>
    </div>
  </div>

{% highlight html %}
<div class="message-loading">
  <span class="message">test message</span>
</div>

<div class="message-valid">
  <span class="message">test message</span>
</div>

<div class="message-warning">
  <span class="message">test message</span>
</div>
{% endhighlight %}

</div>
