/* ==========================================================================
    Base -- Version: 0.2.1- Compiled: timestamp()
   ========================================================================== */
/* ==========================
	  Reset
   ========================== */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0;
  background: transparent;
  list-style: none outside none;
  vertical-align: baseline;
}

html {
  height: 100%;
  font-family: "NeueHaasGroteskDisp Pro Lt", "Helvetica Neue", Helvetica, Arial, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #454545;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.443;
  letter-spacing: .035em;
}

.ie body[style] {
  font-size: 16px !important;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
