/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 214 of css/scss/partials/buttons.scss

209:     &:first-of-type {
210:     border-left: none;
211:   }
212: }

Backtrace:
css/scss/partials/buttons.scss:214
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:1163:in `expected'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:1099:in `expected'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:1094:in `tok!'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:643:in `block'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:660:in `block_child'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/scss/parser.rb:42:in `parse'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/engine.rb:393:in `_to_tree'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:375:in `run'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/exec/base.rb:40:in `parse'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/lib/sass/exec/base.rb:19:in `parse!'
/Users/Q/.rvm/gems/ruby-2.1.1/gems/sass-3.4.2/bin/sass:13:in `<top (required)>'
/Users/Q/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/Q/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 214 of css/scss/partials/buttons.scss\A \A 209:     &:first-of-type {\A 210:     border-left: none;\A 211:   }\A 212: }"; }
