/* ==========================================================================
    Forms -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
input[type='search'], input[type='text'], input[type='email'], input[type='textarea'], input[type='password'], input[type='tel'], textarea, label, select {
  font-size: 16px;
  font-size: 1.6rem;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  padding-top: 0.25em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  border: 0;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: 300;
}
input[type='search'], input[type='text'], input[type='email'], input[type='textarea'], input[type='password'], input[type='tel'], textarea[type='search'], textarea[type='text'], textarea[type='email'], textarea[type='textarea'], textarea[type='password'], textarea[type='tel'] {
  -webkit-appearance: none;
}
input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-datetime-edit-fields-wrapper, textarea[type='search']::-webkit-search-decoration, textarea[type='search']::-webkit-search-cancel-button, textarea[type='search']::-webkit-datetime-edit-fields-wrapper {
  -webkit-appearance: none;
}

select {
  width: 100%;
  max-width: 100%;
  padding-top: 0.25em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  border: 0;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-appearance: none;
}

textarea {
  min-height: 4em;
}

textarea, datalist {
  -webkit-appearance: none;
}

input {
  vertical-align: baseline;
}
input[type="checkbox"], input[type="radio"] {
  width: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0;
}
input[type="text"], input[type="search"], input[type="tel"] {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.formitem {
  position: relative;
  float: left;
  width: 100%;
  margin-left: 2.5%;
}
.formitem.radio, .formitem.checkbox {
  margin-left: 0;
}
.formitem:first-of-type {
  margin-left: 0;
}
.formitem input, .formitem select, .formitem textarea {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.formitem input[type="radio"], .formitem input[type="checkbox"] {
  float: left;
  margin-top: 0.25em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  margin-left: 0;
}

.formitem {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
}
.formitem.split {
  width: auto;
}

input:required ~ span:after {
  content: attr(title);
  position: absolute;
  left: 0;
  bottom: .25em;
  color: #ef272d;
  font-weight: 700;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
  transition-delay: .5s;
}

input:required:invalid.instruct ~ span:after {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.required:after {
  content: '*';
}

.error-msg {
  display: none;
  color: #d10010;
}

/* Honeypot */
#fillit {
  display: none;
}

/* Webkit */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
  form input::-webkit-validation-bubble-message, form select::-webkit-validation-bubble-message, form textarea::-webkit-validation-bubble-message {
    display: none;
  }
}
/* ie (.ie) */
.ie input[type="radio"] {
  border: 0px !important;
}

@media (max-width: 40em) {
  .formitem.split {
    width: 100%;
  }
}
