/* ==========================================================================
    Images -- Version: 0.4.1 - Compiled: timestamp()
   ========================================================================== */
img {
  display: inherit;
  max-width: 100%;
  height: auto;
  border: 0;
  font-style: italics;
  color: #c00;
}
img:after {
  content: " (image)";
}

figure {
  position: relative;
  width: 100%;
}
figure img {
  margin: 0 auto 1em;
}

figcaption {
  margin-bottom: 0.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
}

.image-rounded {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.image-circular,
.avatar-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.image-bordered {
  border: 0.5em solid #dfe1e9;
}

[class*='image-focus-'] {
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-focus-1 {
  background-position: left center;
}

.image-focus-2 {
  background-position: 25% center;
}

.image-focus-3 {
  background-position: 50% center;
}

.image-focus-4 {
  background-position: 75% center;
}

.image-focus-5 {
  background-position: right center;
}

.ie9 svg:not(:root) {
  overflow: hidden;
}
