/* ==========================================================================
    Modules -- Version: 0.4.0 - Compiled: timestamp()
   ========================================================================== */
.box-column {
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  background: white;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
}

hr {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  border: 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white;
}
