/* ==========================================================================
    Pills -- Version: 1.9.0.0 - Compiled: timestamp()
   ========================================================================== */
.pill, .pill-black, .pill-white, .pill-red {
  padding-top: 0.15em;
  padding-right: 0.75em;
  padding-bottom: 0.15em;
  padding-left: 0.75em;
  border: 1px solid;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: black;
  font-size: 13px;
  font-size: 1.3rem;
  color: white;
}
.pill-white {
  border: 1px solid #333333;
  background: white;
  color: #333333;
}
.pill-red {
  background: #ef272d;
}
