/* ==========================================================================
    Progress -- Version: 0.2.1 - Compiled: timestamp()
   ========================================================================== */
progress {
  width: 100%;
}

.progress-bar-element {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  transform-origin: 100% 100%;
  will-change: transform;
  transform: rotate(-90deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-90), M12=-sin(-90), M21=sin(-90), M22=cos(-90))";
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-90), M12=-sin(-90), M21=sin(-90), M22=cos(-90));
  zoom: 1;
}
.progress-bar-element .progress-bar {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 100%;
  height: .5em;
  background: #dfe1e9;
}
.progress-bar-element .progress-bar span {
  position: relative;
  display: block;
  width: attr(value);
  height: .5em;
  background-color: #ef272d;
  text-indent: -9999px;
}
.progress-bar-element .progress-bar span:after {
  position: absolute;
  content: '';
  width: .25em;
  height: 100%;
  right: 0;
  background: white;
  -webkit-animation: pulsate 1s ease-out infinite;
  -moz-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
  opacity: .5;
}
@-webkit-keyframes pulsate {
  .progress-bar-element 0%  {
    opacity: .25;
  }
  .progress-bar-element 50%  {
    opacity: .75;
  }
  .progress-bar-element 100%  {
    opacity: .25;
  }
}
@-moz-keyframes pulsate {
  .progress-bar-element 0%  {
    opacity: .25;
  }
  .progress-bar-element 50%  {
    opacity: .75;
  }
  .progress-bar-element 100%  {
    opacity: .25;
  }
}
@keyframes pulsate {
  .progress-bar-element 0%  {
    opacity: .25;
  }
  .progress-bar-element 50%  {
    opacity: .75;
  }
  .progress-bar-element 100%  {
    opacity: .25;
  }
}
