/* ==========================================================================
    Prototype -- Version: 0.4.4  - Updated: timestamp()
   ========================================================================== */
.viewport, .loadtime {
  position: fixed;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  background: black;
  background: rgba(0, 0, 0, 0.675);
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #0f0;
}

.viewport {
  top: 0;
  right: 0;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.loadtime {
  bottom: 0;
  left: 0;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.internal {
  margin-bottom: 1em;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  color: #0088cc;
  text-align: center;
}

@media (max-width: 40em) {
  .fold {
    position: absolute;
    top: 480px;
    left: 0;
    width: 100%;
    border-top: 1px solid #0f0;
    z-index: 10000;
  }
}
