/* ==========================================================================
    Styleguide -- Version: 0.4.2  - Compiled: timestamp()
   ========================================================================== */
.styleguide .colors, .styleguide .grid {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.styleguide .colors.color-white, .styleguide .color-white.grid {
  outline: 1px solid white;
}
@media (max-width: 62em) {
  .styleguide .colors, .styleguide .grid {
    margin-bottom: 1em;
  }
}
.styleguide .swatch {
  border: 1px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
}
.styleguide .swatch-color {
  padding-top: 5em;
  padding-right: 1em;
  padding-bottom: 5em;
  padding-left: 1em;
}
.styleguide .swatch-info {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  background: white;
  color: #333333;
  text-align: center;
}
.styleguide .grid {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #0044cc;
}
.styleguide .grid:nth-of-type(even) {
  background: #33bbff;
}
.styleguide .prettyprint {
  display: none;
}
