/* ==========================================================================
    Summary -- Version: 0.2.1 - Compiled: timestamp()
    ========================================================================== */
details {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  background: #d9d9d9;
}
details p {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

summary {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #5b5b5b;
  color: white;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  outline: none;
}
