/*
 * Image replacement
 */
/* ==========================================================================
    Tabs -- Version: 1.9.0.4 - Updated: 11/17/2014
    ========================================================================== */
.tab-component .tab-content-container {
  padding: 1em;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box;
  background: #fff;
  box-shadow: 0 1px 2px 0 #b3b3b3;
}
.tab-component .tabs {
  display: table;
  width: 100%;
  box-shadow: 0 1px 2px 0 #b3b3b3;
  border-radius: 3px;
  background-clip: padding-box;
}
.tab-component .tabs ul {
  display: table-row;
}
.tab-component .tabs li {
  display: table-cell;
  position: relative;
  padding: 1em;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
  border-left: 1px solid #ccc;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e6e6e6), to(#ccc));
  background-image: -webkit-linear-gradient(top, #e6e6e6 0%, #ccc 100%);
  background-image: -moz-linear-gradient(top, #e6e6e6 0%, #ccc 100%);
  background-image: linear-gradient(to bottom, #e6e6e6 0%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE6E6E6', endColorstr='#FFCCCCCC', GradientType=0);
  color: #454545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.tab-component .tabs li.js-first {
  border-left: none;
}
.tab-component .tabs li a {
  display: inline-block;
  vertical-align: baseline;
  *zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-weight: normal;
  text-decoration: none;
}
.tab-component .tabs li.active, .tab-component .tabs li.js-active {
  background: #fff;
  filter: none;
}
.tab-component .tabs li.active a, .tab-component .tabs li.js-active a {
  color: #454545;
}
.tab-component .tab-content {
  display: none;
}
.tab-component .tab-content.active, .tab-component .tab-content.js-active {
  display: block;
}
@media (max-width: 62.5em) {
  .tab-component .tabs {
    display: block;
  }
  .tab-component .tabs ul {
    display: block;
  }
  .tab-component .tabs li {
    display: block;
    border: none;
    border-radius: 0;
    background-clip: padding-box;
    border-bottom: 1px solid #e6e6e6;
    text-align: left;
  }
  .tab-component .tabs li.js-last {
    border-bottom: none;
  }
  .tab-component .tabs li a {
    width: 100%;
  }
  .tab-component .tabs li a:after {
    font-family: "FontAwesome";
    content: '\f107';
    float: right;
    will-change: transition;
    transition: all 0.5s ease-in-out;
  }
  .tab-component .tabs li.active a:after, .tab-component .tabs li.js-active a:after {
    will-change: transform;
    transform: rotate(180deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180), M12=-sin(180), M21=sin(180), M22=cos(180))";
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(180), M12=-sin(180), M21=sin(180), M22=cos(180));
    zoom: 1;
    float: right;
  }
  .tab-component .tabs li.js-first {
    border-radius: 3px 3px 0 0;
    background-clip: padding-box;
  }
  .tab-component .tab-content-container {
    display: none;
  }
  .tab-component .tab-content {
    padding: 1em;
    background: #fff;
    filter: none;
  }
}

/*# sourceMappingURL=tabs.css.map */
