/*
 * Image replacement
 */
/* ==========================================================================
    Tooltips -- Version: 0.2.1 - Compiled: timestamp()
    ========================================================================== */
.has-tooltip {
  position: relative;
  cursor: pointer;
}
.has-tooltip .tip {
  position: absolute;
  min-width: 15em;
  max-width: 15em;
  padding: .5em;
  border-top: 3px solid #ef272d;
  border-radius: 3px;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  will-change: transition;
  transition: all 0.2s ease-in-out;
  cursor: default;
  pointer-events: none;
  z-index: 9999;
}
.ie .has-tooltip .tip {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000, endColorstr=#B3000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
  zoom: 1;
}
@media (min-width: 75em) {
  .has-tooltip .tip-top, .has-tooltip .tip-bottom {
    left: 50%;
    transform: translateX(-50%);
  }
  .has-tooltip .tip-top {
    bottom: 100%;
  }
  .has-tooltip .tip-bottom {
    top: 100%;
  }
  .has-tooltip .tip-left, .has-tooltip .tip-right {
    top: 50%;
    transform: translateY(-50%);
  }
  .has-tooltip .tip-left:after, .has-tooltip .tip-right:after {
    position: absolute;
    width: 0;
    content: '';
    top: 50%;
    border-bottom: solid transparent .5em;
    border-top: solid transparent .5em;
    transform: translateY(-50%);
  }
  .has-tooltip .tip-left {
    right: calc(100% - .75em);
    margin-right: 1em;
  }
  .has-tooltip .tip-left:after {
    right: -.5em;
    border-left: solid transparent .5em;
  }
  .has-tooltip .tip-right {
    left: calc(100% - .75em);
    margin-left: 1em;
  }
  .has-tooltip .tip-right:after {
    left: -.5em;
    border-right: solid transparent .5em;
  }
}
.has-tooltip .tip a {
  color: #fff;
}
.has-tooltip .tip .footer {
  display: block;
  margin-top: .5em;
  padding: .5em 0;
  border-top: 1px solid #b3b3b3;
}
.has-tooltip .tip .close-tip-modal {
  position: absolute;
  top: 0;
  right: 1em;
}
.has-tooltip:hover .tip, .has-tooltip.hover .tip {
  opacity: 1;
  filter: alpha(opacity=100);
  pointer-events: auto;
}
.ie8 .has-tooltip .tip {
  display: none;
}
.ie8 .has-tooltip:hover .tip {
  display: block;
}
@media (max-width: 62.5em) {
  .has-tooltip .tip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 25em;
    max-width: 90%;
    margin: 0 auto;
    transform: translateX(-50%);
  }
}
@media (max-width: 40em) {
  .has-tooltip .tip {
    position: fixed;
    top: 50%;
    bottom: inherit;
    left: 0;
    right: 0;
    height: auto;
    width: 25em;
    max-width: 90%;
    margin: 0 auto;
    transform: translateY(-50%);
  }
}

.page-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
}
.ie .page-cover {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000,endColorstr=#26000000);
  zoom: 1;
}

/*# sourceMappingURL=tooltips.css.map */
