/* ==========================================================================
    Typography -- Version: 1.9.0.1  - Compiled: timestamp()
   ========================================================================== */
html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  @inlcude font-size(10);
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

body, button, input, select, textarea {
  line-height: 1.443;
}

@font-face {
  font-family: "FontAwesome";
  src: url("fonts/icons/fontawesome-webfont.eot");
  src: url("fonts/icons/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/icons/fontawesome-webfont.svg#svgFontAwesome") format("svg"), url("fonts/icons/fontawesome-webfont.woff") format("woff"), url("fonts/icons/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.base-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.base-font-alt {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.arial {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.arialBold {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

/* ==========================
	  Body Text
   ========================== */
.lede {
  font-size: 11.25px;
  font-size: 1.125rem;
}

.body-text {
  font-size: 10px;
  font-size: 1rem;
}

.small-body-text {
  font-size: 7.5px;
  font-size: 0.75rem;
}

.disclaimer-text {
  font-size: 6.75px;
  font-size: 0.675rem;
}

/* ==========================
	  Links
   ========================== */
a {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: transparent;
  vertical-align: baseline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  @inlcude font-size(10);
  font-weight: 700;
  color: #ef272d;
  text-decoration: none;
  cursor: pointer;
}
a img {
  border: 0 none;
  text-decoration: none;
}
a:hover {
  color: #a82620;
}

/* ==========================
	  Headings
   ========================== */
h1, .h1 {
  font-size: 40px;
  font-size: 4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
@media (max-width: 62em) {
  h1, .h1 {
    font-size: 35px;
    font-size: 3.5rem;
  }
}
@media (max-width: 40em) {
  h1, .h1 {
    font-size: 30px;
    font-size: 3rem;
  }
}

h2, .h2 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
@media (max-width: 62em) {
  h2, .h2 {
    font-size: 28px;
    font-size: 2.8rem;
  }
}
@media (max-width: 40em) {
  h2, .h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

h3, .h3 {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 62em) {
  h3, .h3 {
    font-size: 21px;
    font-size: 2.1rem;
  }
}
@media (max-width: 40em) {
  h3, .h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

h4, .h4 {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

h5, .h5 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
}

h6, .h6 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

small {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote {
  clear: inherit;
  margin-bottom: 0.33333em;
  vertical-align: middle;
}

p, .p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}

.b {
  font-weight: 700;
}

.uppercase {
  text-transform: capitalize;
}

blockquote {
  width: 75%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border-left: 3px solid #5b5b5b;
  color: #5b5b5b;
  font-style: italic;
  padding-left: 1em;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

abbr {
  border-bottom: 1px dotted #5b5b5b;
  cursor: help;
}

address {
  font-style: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: bottom;
}

mark {
  background: yellow;
}

/* ==========================
	  Pre
   ========================== */
pre {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: whitesmoke;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
  padding: 1em;
  word-wrap: break-word;
}

kbd, samp {
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

kbd, samp {
  color: #a0d468;
}

.valid, .is-valid {
  color: #a0d468;
}

.code-comment {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

i.fa {
  font-family: "FontAwesome", Arial, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  @inlcude font-size(10);
}

/* ==========================
    Logo
   ========================== */
.GLG {
  font-weight: bolder;
  letter-spacing: -3px;
}

.logo_slash,
.division {
  font-weight: 200;
}

.division {
  position: relative;
  left: -.1em;
  color: #757575;
}
