<!-- Browser Alert -->
<div class="browser-alert">
	<b>Unsupported Browser:</b> You are using an unsupported browser version. Some features on our website may not be available. To get the most out of our website, we recommend you upgrading to the latest version of your <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>, <a href="http://support.apple.com/downloads/#safari">Safari</a>, <a href="http://mozilla-firefox.todownload.com">Firefox</a>, or <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-9/worldwide-languages">Internet Explorer</a>
	<div class="close">&times;</div>
</div>	
<!-- .Browser Alert -->