<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en-us"><!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | {% endif %} Scaffold</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="author" content="{{ site.author }}">
    <meta name="rating" content="general">
    <meta name="keywords" content="{{ page.categories | join: ',' }}" />

    <meta name="format-detection" content="telephone=no">

    <meta name="robots" content="{{ page.index }}INDEX,{{ page.follow }}FOLLOW" />
    <meta name="viewport" content="width=device-width, minimal-ui">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.min.css" >
    <link rel="stylesheet" href="{{ site.baseurl }}/slick/slick.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts/icons/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>

</head>

<body class="{{ page.class }}">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
