:host {
  display: block;
  color: #454545;
}
/* ==========================
    Reset
    ========================== */
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  list-style: none outside none;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
a {
  color: #ef272d;
  text-decoration: none;
}
a:hover {
  text-shadow: 0px 2px 3px #ededed;
}
pre {
  padding: 1em;
  border: 1px solid lightgrey;
  background-color: white;
  font-size: 12px;
  font-size: 1.2rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

h1 {
  font-size: 42px;
  font-family: "NeueHaasGroteskDisp Pro 75","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
}

h2,
.h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.h2 {
  display: inline-block;
  margin-bottom: 0.5em;
}
header {
  padding: 1em;
  border-bottom: 1px solid white;
  background-color: white;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3), inset 0.25em 0 0 0 #ef272d;
  line-height: normal;
  overflow: auto;
}
section {
  display: block;
  padding: 1em;
  overflow: auto;
}
section section {
  width: 100%;
  margin: 0;
  padding: 0;
}
section > .half {
  margin-left: 1em;
}
section > .half:first-child {
  margin-left: 0;
}
@media (max-width: 62em) {
  section > .half {
    margin: 0;
  }
}
section h2 {
  padding: 0.5em;
  border: 1px solid lightgrey;
  border-bottom: 0;
  background: #f2f2f2;
}
section[class*='Settings'] {
  -webkit-transition: all .35s;
  transition: all .35s;
}
section[class*='Settings']:hover {
  background-color: rgba(0, 0, 0, 0.005);
}
.half {
  float: left;
  width: calc(50% -  0.5em);
}
@media (max-width: 62em) {
  .half {
    width: 100%;
    margin-top: 1em;
  }
  .half:first-child {
    margin-top: 0;
  }
}
.complianceNote ul {
  margin: 0;
}
.complianceNote ul li {
  list-style: none outside none;
}
.complianceNote .complianceOfficers {
  border: 1px solid lightgrey;
  background-color: white;
}
.complianceNote .fa {
  color: lightgrey;
}
.complianceNote .fa.active {
  color: #308e28;
}
.btn {
  display: inline-block;
  padding: .5em 1em;
  border: 0;
  background: none;
  border-radius: 0;
  background: #ef272d;
  font-size: 16px;
  color: white;
  text-decoration: none;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.btn:hover {
  background: #a40c11;
}
.right {
  float: right;
}
.left {
  float: left;
}
.default_settings {
  color: #b3b3b3;
}
.response,
strong {
  font-weight: bold;
}
ul ul {
  display: list-item;
  margin-left: 1.2em;
}
ul ul li {
  list-style: outside disc;
}
ul ul li li {
  font-style: italic;
  list-style: outside circle;
}
.vertical > li {
  padding-top: 0.5em;
  padding-right: 0;
  padding-bottom: 0.5em;
  padding-left: 0;
}
.vertical > li:first-child {
  padding-top: 0;
}
.vertical.lined > li {
  overflow: auto;
  border-top: 1px dotted #e6e6e6;
}
.vertical.lined > li:first-child {
  border: 0;
}
.vertical.alt > li {
  padding: .5em 1em;
}
.vertical.alt > li:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.015);
}
hr {
  margin: 1em 0;
  border: 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid white;
}
hr.marginless {
  margin: 0;
}
details {
  display: block;
  border-radius: 0;
  border: 1px solid lightgrey;
  background: #ffffff;
}
details summary {
  display: inline-block;
  width: 100%;
  padding: .5em 1em;
  background: #f2f2f2;
  outline: none;
  color: #454545;
  font-weight: 700;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary:before {
  display: inline-block;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #e6e6e6;
  content: "\25BC";
}
details[open] summary {
  border-bottom: 1px solid lightgrey;
}
details[open] summary:before {
  content: "\25B2";
}
details:not(:last-child) {
  margin-bottom: 1em;
}
details .compliance-content {
  padding: 1em;
}
input[type="checkbox"].switch:empty,
input[type="radio"].radio:empty {
  margin-left: -9999px;
}
input.switch:empty ~ label,
input.radio:empty ~ label {
  position: relative;
  float: left;
  text-indent: 3em;
  cursor: pointer;
}
input.switch:empty ~ label:before,
input.switch:empty ~ label:after,
input.radio:empty ~ label:before,
input.radio:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 2.5em;
  height: 1.5em;
  background: #ef272d;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  will-change: transition;
  transition: all 100ms ease-in;
}
input.radio:empty ~ label:before,
input.radio:empty ~ label:after {
  width: 1.5em;
  height: 1.5em;
  background: #e6e6e6;
}
input.switch:empty ~ label:after,
input.radio:empty ~ label:after {
  width: .75em;
  height: .75em;
  top: .375em;
  margin-left: .375em;
  background: white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
input.switch:checked ~ label:before,
input.radio:checked ~ label:before {
  background: #308e28;
}
input.switch:checked ~ label:after {
  margin-left: 1.375em;
}

.true:after {
  content: ' Yes';
}

.false:after {
  content: ' No';
}
