// Base Site Settings
$site-width: 960px;

// Navigation
$nav-items: 5;

// ---------------------------------------------------------------------- //

// Column / Grid Control
$site-column-count: 12;
$site-gutter-width: 2%;

// Breakpoints
$bp-big: 68.75em;
$bp-medium: 62em;
$bp-small: 40em;

// Sizing
$padding: 1em;
$margin: 1em;

//Border-Radius
$border-radius: 0;

// ---------------------------------------------------------------------- //

// Colors
$color-white: #fff;
$color-off-white: #f2f2f2;
$color-black: #000;
$color-grey: #5b5b5b;
$color-light-grey: #dfe1e9;

$color-primary-red: #ef272d;
$color-secondary-red: #fad2c3;
$color-primary-green: #3eb633;
$color-secondary-green: #b2f2ac;
$color-primary-blue: #0099ed;
$color-secondary-blue: #cee6f7;
$color-primary-yellow: #fae843;
$color-secondary-yellow: #fcef9d;

$color-dark-grey: #5b5b5b;
$color-light-light-grey: #f5f5f5;

// Typography
$text: #454545;
$text-color: $text;
$link: $color-primary-red;
$link-hover: $color-secondary-red;
$text-grey: $color-grey;
$text-light-grey: $color-light-grey;
$text-link: $link;
$text-white: $color-white;
$text-error: $color-secondary-red;
$text-success: $color-secondary-green;
$text-info: $color-primary-blue;

// Always declare site background fallback
$site-background: $color-white;

// Buttons
$color-button-primary: $color-primary-red;
$color-button-primary-hover: $color-secondary-red;


// Forms
$form-focus: $color-light-grey;

// ---------------------------------------------------------------------- //

// Typography
// Fonts
$base-font-size: 16;
$base-line-height: 1.443;
  // Declare mixin need for px
  $support-legacy: true;

$base-font: 'NeueHaasGroteskDisp Pro Lt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$base-font-alt: $arial;
$arial-bold: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
$heading-font: $base-font;
$heading-font-alt: 'NeueHaasGroteskDisp Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontawesome: 'FontAwesome';
$GLGlyphs: 'GLGlyphs';
$pre: Inconsolata,Monaco,Consolas,'Andale Mono','Bitstream Vera Sans Mono','Courier New',Courier,monospace;

$heading-list: (
  h1   42   200   $heading-font,
  h2   36   200   $heading-font,
  h3   30   700   $heading-font-alt,
  h4   24   200   $heading-font,
  h5   18   700   $heading-font-alt,
  h6   18   100   $heading-font
);

$lede-text: ($base-font-size * 1.375);
$body-text: $base-font-size;
$small-body-text: ($base-font-size *.75);
$disclaimer-text: $small-body-text;

// ---------------------------------------------------------------------- //
