<span id="pagination-anchor" class="h2 jumpTo-anchor">Pagination</span>

<div class="right">
  <a class="btn btn-primary" href="pagination">Isolate</a>
</div>

<div class="box-column clear">

  <!-- Pagination Component -->
  <div class="pagination">
    <ol>
      <li>
          <a class="muted" href=""><i class="fa fa-chevron-left"></i> <span class="pag_text">Prev</span></a>
      </li>
      <li>
          <a class="js-active muted" href="">1</a>
      </li>
      <li>
        <a href="">2</a>
      </li>
      <li>
        <a href="">3</a>
      </li>
      <li>
        <a href="">4</a>
      </li>
      <li>
          <a href=""><span class="pag_text">Next</span> <i class="fa fa-chevron-right"></i></a>
      </li>
    </ol>
  </div>
  <!-- .Pagination Component -->

{% highlight html %}
<div class="pagination">
  <ol>
    <li>
        <a class="muted" href=""><i class="fa fa-chevron-left"></i> <span class="pag_text">Prev</span></a>
    </li>
    <li>
        <a class="js-active muted" href="">1</a>
    </li>
    <li>
      <a href="">2</a>
    </li>
    <li>
      <a href="">3</a>
    </li>
    <li>
      <a href="">4</a>
    </li>
    <li>
        <a href=""><span class="pag_text">Next</span> <i class="fa fa-chevron-right"></i></a>
    </li>
  </ol>
</div>
{% endhighlight %}

</div>
