---
layout: default
title: Pattern Library
class: styleguide
---

<p>Version: {{ site.version }} -- Updated: {{ site.time }}</p>
<hr>

<!-- Loop through and include all styleguide sections -->
{% include patterns/box/index.html %}
{% include patterns/breadcrumbs/index.html %}
{% include patterns/forms/index.html %}
{% include patterns/lists/index.html %}
{% include patterns/summary/index.html %}
{% include patterns/modals/index.html %}
{% include patterns/pagination/index.html %}
{% include patterns/pills/index.html %}
{% include patterns/message-box/index.html %}
{% include patterns/info-box/index.html %}
{% include patterns/tables/index.html %}

  <h2>FIN.</h2>
