<span id="progress-anchor" class="h2 jumpTo-anchor">Progress</span>

<div class="right">
  <a class="btn btn-primary" href="progress">Isolate</a>
</div>

<div class="box-column clear">

  <label>
    <span class="h5">{{ page.label }}</span>
    <span class="right">{{ page.step }} of {{ page.steps }} Completed</span>
  </label>
  <div class="progress-bar">
    <span style="width: {{ page.value }}%;">Progress: {{ page.value }}%</span>
  </div>

  {% highlight html %}
  <label>
    <span class="h5">Your Progress</span>
    <span class="right">9 of 12 Completed</span>
  </label>
  <div class="progress-bar">
    <span style="width: 75%;">Progress: 75%</span>
  </div>
  {% endhighlight %}

</div>
