<span id="progress-anchor" class="h2 jumpTo-anchor">Progress</span>

<div class="right">
  <a class="btn btn-primary" href="progress">Isolate</a>
</div>

<div class="box-column clear">
  <div class="progress-bar-element">
    <div class="progress-bar-cap">
      <span class="h4">Your CMP Progress</span>
    </div>
    <div class="progress-bar-container">
      <div class="progress-bar-header">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis natus, maxime harum nulla labore quae eos dignissimos, cumque esse ad vel optio eaque!</p>

        <label>
          <span class="h5">1 of 8 Completed</span>
        </label>
        <div class="progress-bar">
          <span style="width: 15%;">Progress: 15%</span>
        </div>
        <ul class="horizontal">
          <li>&#8226;</li>
          <li class="muted">&#8226;</li>
          <li class="muted">&#8226;</li>
          <li class="muted">&#8226;</li>
          <li class="muted">&#8226;</li>
          <li class="muted">&#8226;</li>
          <li class="muted">&#8226;</li>
          <li class="muted">&#8226;</li>
        </ul>
      </div>

      <div class="badges current">
        <h5>Current Status:</h5>
        <ul class="vertical lined">
          <li>
            <img class="image-circular" src="" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At.
          </li>
        </ul>
      </div>

      <div class="badges future">
        <h5>Future Achievements</h5>
        <ul class="vertical lined">
          <li class="muted">
            <img class="image-circular" src="" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At.
          </li>
          <li class="muted">
            <img class="image-circular" src="" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis mollitia quaerat, quae.
          </li>
          <li class="muted">
            <img class="image-circular" src="" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, beatae.
          </li>
          <li class="muted">
            <img class="image-circular" src="" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing.
          </li>
          <li class="muted">
            <img class="image-circular" src="" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis mollitia quaerat, quae.
          </li>
          <li class="muted">
            <img class="image-circular" src="" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, beatae.
          </li>
          <li class="muted">
            <img class="image-circular" src="" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing.
          </li>
        </ul>
      </div>
      <!-- /.badges -->

      <div class="progress-bar-footer text-center">
        <a href="" class="btn btn-primary">Take Some Action <i class="fa fa-angle-right"></i></a>
      </div>

    </div>
  </div>

  {% highlight html %}
  <div class="progress-bar-element">
    <label>
      <span class="h5">Your Progress</span>
    </label>
    <div class="progress-bar">
      <span style="width: 75%;">Progress: 75%</span>
    </div>
  </div>
  {% endhighlight %}

</div>
