<span id="progress-anchor" class="h2 jumpTo-anchor">Progress</span>

<div class="right">
  <a class="btn btn-primary" href="progress">Isolate</a>
</div>

<div class="box-column clear">

  <div class="progress-bar-element">
    <div class="progress-bar-cap">
      <span class="h4">Your CMP Progress</span>
    </div>
    <!-- /.progress-bar-cap -->
    <div class="progress-bar-container">
      <div class="progress-bar-header">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis natus, maxime harum nulla labore quae eos dignissimos, cumque esse ad vel optio eaque!</p>
        <label>
          <span class="h5">3 of 8 Completed</span>
        </label>
        <div class="progress-bar">
          <span style="width: 30%;">Progress: 30%</span>
        </div>
        <ul class="horizontal mini-badges">
          <li id="1"><i class="fa fa-circle"></i></li>
          <li id="2"><i class="fa fa-circle"></i></li>
          <li id="3"><i class="fa fa-circle"></i></li>
          <li id="4" class="muted"><i class="fa fa-circle"></i></li>
          <li id="5" class="muted"><i class="fa fa-circle"></i></li>
          <li id="6" class="muted"><i class="fa fa-circle"></i></li>
          <li id="7" class="muted"><i class="fa fa-circle"></i></li>
          <li id="8" class="muted"><i class="fa fa-circle"></i></li>
          <li id="9" class="muted"><i class="fa fa-circle"></i></li>
          <li id="10" class="muted"><i class="fa fa-circle"></i></li>
        </ul>
      </div>
      <!-- /.progress-bar-header -->
      <div class="badges current">
        <h5>Current Status:</h5>
        <ul class="vertical lined">
          <li id="badge3" class="achievement b">
            <img class="image-circular" src="" alt="">Current T&Cs signed
          </li>
        </ul>
      </div>
      <!-- /.badges current -->
      <div class="badges future">
        <h5>Future Achievements</h5>
        <ul class="vertical lined">
          <li id="badge4" class="muted">
            <img class="image-circular" src="" alt=""><a href="">Upload a Photo</a>
            <ul>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit</li>
            </ul>
            <div class="data">
              <span class="h5">Data</span>
            </div>
            <div class="expand-data">
              Expanded Data
            </div>
          </li>
          <li id="badge5" class="muted">
            <img class="image-circular" src="" alt=""><a href="">MP Consent</a>
            <ul>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit</li>
            </ul>
          </li>
          <li id="badge6" class="muted">
            <img class="image-circular" src="" alt=""><a href="">Set up a payment account</a>
            <ul>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit</li>
            </ul>
          </li>
          <li id="badge7" class="muted">
            <img class="image-circular" src="" alt=""><a href="">Set up an electronic payment account</a>
            <ul>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit</li>
            </ul>
          </li>
          <li id="badge8" class="muted">
            <img class="image-circular" src="" alt=""><a href="">Exclusive to GLG</a>
            <ul>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit</li>
            </ul>
          </li>
          <li id="badge9" class="muted">
            <img class="image-circular" src="" alt=""><a href="">Project Response time, less than 24 hours</a>
            <ul>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit</li>
            </ul>
          </li>
          <li id="badge10" class="muted">
            <img src="" alt="" class="image-circular"><a href="">Referred at least 3 CMs who were added to projects</a>
            <ul>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit</li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.badges future -->
      <div class="progress-bar-footer text-center">
        <a href="" class="btn btn-primary">Take Some Action <i class="fa fa-angle-right"></i></a>
      </div>
      <!-- /.progress-bar-footer -->
    </div>
    <!-- /.progress-bar-container -->
  </div>
  <!-- /.progress-bar-element -->

</div>
