// Pull globals for individually compiled css files
@import "../globals/allGlobals";

/* ==========================================================================
    Images -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

figure {
  position: relative;
  width: 100%;
  img {
    max-width: 100%;
    margin: 0 auto $margin;
  }
}

figcaption {
  margin-bottom: ($margin / 2);
  @include font-size(14);
  font-weight: 700;
}

img {
  display: inherit;
  border: 0;
}

.image-rounded {
  @include border-radius;
}

.image-circular {
  @include border-radius(50%);
}

.image-bordered {
  border: ($padding / 2) solid $text-white;
  outline: 1px solid $color-grey;
}

// Responsive Images

[class*='image-focus-'] {
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-focus-1 {
  background-position: left center;
}

.image-focus-2 {
  background-position: 25% center;
}

.image-focus-3 {
  background-position: 50% center;
}

.image-focus-4 {
  background-position: 75% center;
}

.image-focus-5 {
  background-position: right center;
}

/* ie9 (.twc-ie9) */
/* Fix IE9 overflow bug */

.ie9 svg:not(:root) {
  overflow: hidden;
}
