.image-focus-center {
  @include responsive-image($radius: 50%);
}

.image-focus-right {
  @include responsive-image(right, $radius: 20%);
}

.image-focus-left {
  @include responsive-image(left);
}


// how many menu-items do you wish to display? //

// maximum: 10 //

$items: 4;

#menu {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  //margin: -75px 0 0 -75px;
  list-style: none;
  font-size: 200%;
}

.menu-button {
  opacity: 0;
  z-index: -1;
}

.menu-button {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  border-radius: 500px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  text-decoration: none;
}

.icon-plus:before, .icon-minus:before {
  color: #8cc;
  position: relative;
  top: 40%;
  left: 42%;
  opacity: 0;
  transition: opacity 500ms ease-in;
}


#menu:not(:target) > a:first-of-type,
#menu:target > a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target) > .icon-plus:before,
#menu:target > .icon-minus:before {
  opacity: 1;
}
.menu-item {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 500px;
  border-radius: 50%;
  background: #8cc;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  z-index: -2;
}

.menu-item a {
  color: #fff;
  position: relative;
  top: 35%;
  left: 30%;
  text-decoration: none;
}

.menu-item:hover {
  box-shadow: 0 0 0 7px #fff;
}

.menu-item:active {
  background: #9dd;
}

// $radius: 150px;

// $angle: -240deg / $items;

// @for $i from 1 through $items {

//   $alpha: ($i * $angle);
//   $x: sin(($angle * $i) - $angle - 90) * $radius;
//   $y: cos(($angle * $i) - $angle - -180) * $radius;


//   #menu:target > .menu-item:nth-child(#{$i + 2}) {
//     transition-delay: ($i * 75ms);
//     transform: translate($y, $x);
//   }
// }
