// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Styleguide -- Version: 0.4.2  - Compiled: #{timestamp()}
   ========================================================================== */

// For Styleguide Demo ONLY!! Don't ever ingest this file...EVER!

.styleguide {

  a.logo {
    color: inherit;
    &:hover {
      border-bottom: none;
    }
  }

  .colors {
    @include padding($padding);
    @include border-radius;
    &.color-white {
      outline: 1px solid lighten($color-light-grey, 30%);
    }
    @media (max-width: $bp-medium) {
      margin-bottom: $margin;
    }
  }

  .swatch {
    @include border-radius;
    overflow: auto;
  }
  .swatch-color {
    @include padding(5em, $padding);
    &.color-white {
      border: 1px solid $color-light-grey;
      border-bottom: none;
    }
  }
  .swatch-info {
    @include padding($padding);
    border: 1px solid $color-light-grey;
    border-top: none;
    background: $color-white;
    color: $text;
    text-align: center;
  }

  .grid {
    @extend .colors;
    @include border-radius;
      background: $color-secondary-blue;
    &:nth-of-type(even) {
      background: lighten($color-primary-blue, 20%);
    }
  }

  .prettyprint {
    display: none;
  }

}
