// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Styleguide -- Version: 0.4.2  - Compiled: #{timestamp()}
    ========================================================================== */

    @if $styleguide {

      .styleguide {

        .colors {
          @include padding($padding);
          @include border-radius;
          &.color-white {
            outline: 1px solid lighten($color-light-grey, 30%);
          }
          @media (max-width: $bp-medium) {
            margin-bottom: $margin;
          }
        }

        .swatch {
          @include margin(0,0,1em);
          @include border-radius;
          overflow: auto;
        }
        .swatch-color {
          @include padding(3.5em, $padding);
          &.color-white {
            border: 1px solid $color-light-grey;
            border-bottom: none;
          }
        }
        .swatch-info {
          @include padding($padding / 2);
          border: 1px solid $color-light-grey;
          border-top: none;
          background: $color-white;
          color: $text;
          text-align: center;
        }

        .grid {
          @extend .colors;
          @include border-radius;
          background: $color-secondary-blue;
          &:nth-of-type(even) {
            background: lighten($color-primary-blue, 20%);
          }
        }

        .prettyprint {
          display: none;
        }

      }
    }

    .viewport,
    .loadtime {
      position: fixed;
      bottom: 0;
      @include padding($spacing / 2, $spacing);
      @include rgba($color-black, .675);
      font-family: $pre;
      @include font-size(10);
      color: $color-primary-green;
    }

    .viewport {
      right: 0;
      border-top-left-radius: $border-radius;
    }

    .loadtime {
      left: 0;
      border-top-right-radius: $border-radius;
    }

    .fold {
      @include bp(bp-small) {
        position: absolute;
        top: 480px;
        left: 0;
        width: 100%;
        border-top: 1px solid currentColor;
        color: #0f0;
        text-align: center;
        z-index: 10000;
      }
    }
