// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Audio -- Version: 0.2.1 - Compiled: #{timestamp()}
   ========================================================================== */

@if $audio {

  audio {
    max-width: 100%;

    &:not([controls]) {
      display: none;
    }
  }

}
