// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Forms -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

input,
textarea,
label,
select {
  @include font-size(16);
  vertical-align: baseline;
}

input[type]:not([type=range]),
textarea,
select {
  width: 100%;
  max-width: 100%;
  @include padding(.35em, .5em);
  @include margin;
  border: 1px solid $color-light-grey;
  outline: none;
  @include border-radius;
  font-weight: 300;
  @include transition(all, .2s, ease-in-out);

  &[type='search'] {
    padding-left: 2em;
    background: url('/scaffold/images/iconmonstr-magnifier-5-icon-48.png') no-repeat left center;
    background-size: 1em;
    background-position: .5em;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-datetime-edit-fields-wrapper {
      -webkit-appearance: none;
    }
  }

  &[type="radio"],
  &[type="checkbox"] {
    float: left;
    @include margin(.25em, .5em, 1em, .1em);
  }

  &:focus {
    @include box-shadow(inset .3em 0 0 0 rgba($form-focus, .75));
  }
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    width: auto;
    @include padding;
    border: 0;

    &:focus {
      outline: none;
      @include box-shadow(none);
    }
  }
  &[type="range"] {
    width: 100%;
    height: .5em;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: $color-light-grey;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include border-radius(100%);
      background-color: $color-grey;
      width: 1em;
      height: 1em;
    }
  }
}

input::-webkit-datetime-edit-fields-wrapper {
  font-family: $base-font;
}

select,
datalist,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@include placeholder {
  color: $text-light-grey;
  font-weight: 100;
}

.formitem {
  float: left;
  width: 100%;
}

.required:after {
  content: '*';
}

// Honeypot
#fillit {
  display: none;
}

input[type="file"]::-webkit-file-upload-button {
  opacity: 0;
}

// ie (.ie)
.ie input[type="radio"] {
  border: 0 !important;
}

// Groovy styled checkboxes
input.switch:empty,
input.radio:empty {
  margin-left: -9999px;
}

input.switch:empty ~ label,
input.radio:empty ~ label {
  position: relative;
  float: left;
  text-indent: 3em;
  cursor: pointer;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after,
input.radio:empty ~ label:before,
input.radio:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 2.5em;
  height: 1.5em;
  background: $color-primary-red;
  @include border-radius(100px);
  @include transition(all, 100ms, ease-in);
}

input.radio:empty ~ label:before,
input.radio:empty ~ label:after {
  width: 1.5em;
  height: 1.5em;
  background: $color-light-grey;
}

input.switch:empty ~ label:after,
input.radio:empty ~ label:after {
  width: .75em;
  height: .75em;
  top: .375em;
  margin-left: .375em;
  background: $color-white;
  @include border-radius(100px);
}

input.switch:checked ~ label:before,
input.radio:checked ~ label:before {
  background: $color-secondary-green;
}

input.switch:checked ~ label:after {
  margin-left: 1.375em;
}
