// Pull globals for individually compiled css files
@import "../globals/allGlobals";

/* ==========================================================================
    Forms -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

input, textarea, label, select {
  @include font-size(16);
  vertical-align: baseline;
}

input, textarea, select {
  width: 100%;
  max-width: 100%;
  @include padding(.25em,.5em);
  @include margin;
  border: 0;
  border: 1px solid $color-light-grey;
  @include border-radius();
  font-weight: 300;
  &[type='search'] {
    &::-webkit-search-decoration, &::-webkit-search-cancel-button, &::-webkit-datetime-edit-fields-wrapper  {
      -webkit-appearance: none;
    }
  }
  &[type="radio"], &[type="checkbox"] {
    float: left;
    @include margin(.25em,.5em,1em,.1em);
  }
}

input {
  &[type="checkbox"], &[type="radio"] {
    width: auto;
    @include padding;
    border: 0;
  }
}

select, datalist {
  -webkit-appearance: none;
}

.formitem {
  float: left;
  width: 100%;
}

.required:after {
  content: '*';
}

/* Honeypot */
#fillit {
  display: none;
}

/* ie (.ie) */
.ie input[type="radio"] {
  border: 0px !important;
}