// Pull globals for individually compiled css files
@import "../globals/allGlobals";

/* ==========================================================================
    Jump To -- Version: 1.9.0.0 - Compiled: #{timestamp()}
   ========================================================================== */

.jumpTo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
 @include padding(.5em, 1em);
  border: none;
  @include border-radius($border-radius 0 0 0);
  background: rgb(0,0,0);
  background: rgba(0,0,0,.675);
  -webkit-appearance: none;
     -moz-appearance: none;
  z-index: 999999;
  -webkit-transform: translateZ(0);
  font-family: $pre;
  color: #0f0;
  text-indent: 0.01px;
  text-overflow: '';
}