// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Layout -- Version: 1.9.0.2 - Compiled: #{timestamp()}
   ========================================================================== */

.content {
  position: relative;
  overflow: auto;
  @include padding(($padding), 0);
  z-index: 0;
}

.container {
  display: block;
  max-width: $site-width;
  @include margin(0, auto);
  overflow: visible;
  @include bp(bp-medium) {
    @include padding(0, ($padding));
  }
}

// Clearfix
.clearfix,
%clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

/* ==========================
    Grid
   ========================== */

.row {
  @include row;

  &:last-child,
  &:only-child {
    margin-bottom: 0;
  }
}

.full {
  @include col($site-column-count);
}

.half {
  @include col($site-column-count / 2);

  .marginless & {
    @include marginless-col($site-column-count / 2);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-small) {
    @include col($site-column-count);
  }
}

.third {
  @include col($site-column-count / 3);

  .marginless & {
    @include marginless-col($site-column-count / 3);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 2);

    &:nth-child(even) {
      @include last;
    }
  }

  @include bp(bp-small) {
    @include col($site-column-count);
  }
}

.fourth {
  @include col($site-column-count / 4);

  .marginless & {
    @include marginless-col($site-column-count / 4);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 2);

    &:nth-child(even) {
      @include last;
    }
  }

  @include bp(bp-small) {
    @include col($site-column-count);
    @include last;
  }
}

.fifth {
  @include col($site-column-count / 5);

  .marginless & {
    @include marginless-col($site-column-count / 5);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 2);

    &:nth-child(even) {
      @include last;
    }
  }

  @include bp(bp-small) {
    @include col($site-column-count);
    @include last;
  }
}

.sixth {
  @include col($site-column-count / 6);

  .marginless & {
    @include marginless-col($site-column-count / 6);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 3);

    &:nth-child(3n) {
      @include last;
    }
  }
}

.seventh {
  @include col($site-column-count / 7);

  .marginless & {
    @include marginless-col($site-column-count / 7);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 3);

    &:nth-child(3n) {
      @include last;
    }
  }
}

.eighth {
  @include col($site-column-count / 8);

  .marginless & {
    @include marginless-col($site-column-count / 8);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 4);

    &:nth-child(4n) {
      @include last;
    }
  }

  @include bp(bp-small) {
    @include col($site-column-count / 2);

    &:nth-child(2n) {
      @include last;
    }
  }
}

.ninth {
  @include col($site-column-count / 9);

  .marginless & {
    @include marginless-col($site-column-count / 9);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 3);

    &:nth-child(3n) {
      @include last;
    }
  }
}

.tenth {
  @include col($site-column-count / 10);

  .marginless & {
    @include marginless-col($site-column-count / 10);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 4);

    &:nth-child(4n) {
      @include last;
    }
  }

  @include bp(bp-small) {
    @include col($site-column-count / 2);

    &:nth-child(2n) {
      @include last;
    }
  }
}

.eleventh {
  @include col($site-column-count / 11);

  .marginless & {
    @include marginless-col($site-column-count / 11);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 4);

    &:nth-child(4n) {
      @include last;
    }
  }

  @include bp(bp-small) {
    @include col($site-column-count / 2);

    &:nth-child(2n) {
      @include last;
    }
  }
}

.twelfth {
  @include col($site-column-count / 12);

  .marginless & {
    @include marginless-col($site-column-count / 12);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 6);

    &:nth-child(6n) {
      @include last;
    }
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 3);

    &:nth-child(3n) {
      @include last;
    }
  }
}

// Combinations
.golden-long {
  @include col($site-column-count * (1 / 1.618));

  .marginless & {
    @include marginless-col($site-column-count * (1 / 1.618));
  }

  &:last-child {
    @include last;
  }
}

.golden-short {
  @include col($site-column-count * (1 - (1 / 1.618)));

  .marginless & {
    @include marginless-col($site-column-count * (1 - (1 / 1.618)));
  }

  &:last-child {
    @include last;
  }
}

.two-fifths {
  @include col(($site-column-count / 5) * 2);

  .marginless & {
    @include marginless-col(($site-column-count / 5) * 2);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count / 2);
  }
}

.three-fifths {
  @include col(($site-column-count / 5) * 3);

  .marginless & {
    @include marginless-col(($site-column-count / 5) * 3);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count);
  }
}

.four-fifths {
  @include col(($site-column-count / 5) * 4);

  .marginless & {
    @include marginless-col(($site-column-count / 5) * 4);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count);
  }
}

.two-thirds {
  @include col(($site-column-count / 3) * 2);

  .marginless & {
    @include marginless-col(($site-column-count / 3) * 2);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count);
  }
}

.three-fourths {
  @include col(($site-column-count / 4) * 3);

  .marginless & {
    @include marginless-col(($site-column-count / 4) * 3);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count);
  }
}

.three-eighths {
  @include col(($site-column-count / 8) * 3);

  .marginless & {
    @include marginless-col(($site-column-count / 8) * 3);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count);
  }
}

.five-eighths {
  @include col(($site-column-count / 8) * 5);

  .marginless & {
    @include marginless-col(($site-column-count / 8) * 5);
  }

  &:last-child {
    @include last;
  }

  @include bp(bp-medium) {
    @include col($site-column-count);
  }
}

/* ==========================
    Multi Column
   ========================== */

[class*='two_column_'] {
  @include columns(2, ($padding * 2));
}

[class*='three_column_'] {
  @include columns(3, ($padding * 2));
}

[class*='four_column_'] {
  @include columns(4, ($padding * 2));
}
