// Pull globals for individually compiled css files
@import "../globals/allGlobals";

/* ==========================================================================
    Lists -- Version: 1.9.0.0 - Compiled: #{timestamp()}
   ========================================================================== */

ol {
  @include margin(0,0,0,($margin * 1.5));
  @include padding;
  ol {
    margin-bottom: 0;
  }
}

ul {
  @include margin;
  @include padding;
  ul {
    @include margin;
  }
}

/* Bulleted List Items */

.bulleted {
  ~ ul {
    margin-bottom: 0;
  }
  li {
    list-style: outside disc;
    margin-left: $margin;
    border-bottom: none;
  }
}

/* Horizontal List Items */

.horizontal {
  li {
    display: inline;
  }
  [class*='column-count-'] li {
    @include inline-block;
  }
  &.slashes li {
    @include padding;
    &:after {
      content: '/';
      @include padding(0,($padding / 2));
    }
    &.js-last:after {
      content: '';
    }
  }
  &.pipes li {
    @include padding;
    &:after {
      content: '|';
      @include padding(0,.25em,0,.5em);
    }
    &.js-last:after {
      content: '';
    }
  }
}

/* Vertical List Items */

.vertical {
  > ul > li,
  > ol > li {
    @include padding(($padding / 2),0);
  }
  &.lined > ul > li,
  &.lined > ol > li {
    overflow: auto;
    border-bottom: 1px dotted lighten($color-light-grey, 20%);
    &.js-last {
      border-bottom: none;
    }
  }
  &.alt > ul > li:nth-child(even) {
    background: lighten($color-light-grey, 20%);
  }
}

/* Ordered List */

ol li {
  list-style: decimal;
  list-style-position: outside;
}

/* Definition List */

dt {
  font-weight: bold;
}

dd {
  margin-left: $margin;
}