// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Modules -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

.box-column {
  @include clearfix;
  @include margin($spacing / 2, 0, $spacing);
  @include padding($spacing);
  border: 1px solid $color-light-grey;
  @include border-radius;
  background: $site-background;
  overflow: visible;
}

hr {
  @include clearfix;
  @include margin($spacing, 0);
  @include box-sizing(content-box);
  height: 0;
  border: 0;
  border-top: 1px solid $text-light-grey;
  border-bottom: 1px solid mix($site-background,$color-white,20%);;

  &.sandbox {
    @extend hr;
    border-bottom: 0;
  }
}
