// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Pagination -- Version: 1.9.0.0 - Compiled: #{timestamp()}
   ========================================================================== */

.pagination {
  ol {
    @include margin;
    @include padding;
  }

  li {
    display: inline;
    position: relative;

    a {
      border: 0;
    }

    &.js-last {
      margin-right: 0;
    }
  }

  @include bp(bp-small) {
    @include inline-block();
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
