// Pull globals for individually compiled css files
@import "../globals/allGlobals";

/* ==========================================================================
    Pills -- Version: 1.9.0.0 - Compiled: #{timestamp()}
   ========================================================================== */

.pill {
  @include padding(.15em,.75em);
  border: 1px solid $color-white;
  @include border-radius(50px);
  background: black;
  @include font-size(13);
  color: $color-white;
  &-black {
    @extend .pill;
  }
  &-white {
    @extend .pill;
    border: 1px solid $text;
    background: white;
    color: $text;
  }
  &-red {
    @extend .pill;
    background: $color-primary-red;
  }
}