// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Progress -- Version: 0.2.1 - Compiled: #{timestamp()}
   ========================================================================== */

    progress {
      width: 100%;
    }

    .progress-bar-element {
      border: 1px solid $color-light-grey;

      .progress-bar-container {
        @include padding($padding);
      }

      .progress-bar-cap {
        @include inline-block;
        width: 100%;
        @include padding($padding);
        @include rgba($color-black, .15);
      }

      .progress-bar {
        @include inline-block;
        width: 100%;
        height: .5em;
        @include rgba($color-black, .15);
      }

      .progress-bar span {
        position: relative;
        display: block;
        width: attr(value);
        height: .5em;
        background-color: $color-primary-red;
        text-indent: -9999px;

        &:after {
          position: absolute;
          content: '';
          width: .25em;
          height: 100%;
          right: 0;
          background: $color-white;
          -webkit-animation: pulsate 1s ease-out infinite;
          -moz-animation: pulsate 1s ease-out infinite;
          animation: pulsate 1s ease-out infinite;
          opacity: .5;
        }
      }

      .badges img {
        float: left;
        height: 50px;
        width: 50px;
        @include margin(0, $margin, 0, 0);
        @include rgba($color-black, .5);
      }

      @-webkit-keyframes pulsate {
        0% { opacity: .25; }
        50% { opacity: .75; }
        100% { opacity: .25; }
      }

      @-moz-keyframes pulsate {
        0% { opacity: .25; }
        50% { opacity: .75; }
        100% { opacity: .25; }
      }

      @keyframes pulsate {
        0% { opacity: .25; }
        50% { opacity: .75; }
        100% { opacity: .25; }
      }

    }
