// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Typography -- Version: 1.9.0.1  - Compiled: #{timestamp()}
   ========================================================================== */

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro Lt';
  src: url('fonts/NHaasGroteskDSPro-45Lt.eot');
  src: url('fonts/NHaasGroteskDSPro-45Lt.eot?#iefix') format('embedded-opentype'),
       url('fonts/NHaasGroteskDSPro-45Lt.woff') format('woff'),
       url('fonts/NHaasGroteskDSPro-45Lt.ttf') format('truetype'),
       url('fonts/NHaasGroteskDSPro-45Lt.svg#c13997a2298a59559618b48f712f1222') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: url('fonts/NHaasGroteskDSPro-55Rg.eot');
  src: url('fonts/NHaasGroteskDSPro-55Rg.eot?#iefix') format('embedded-opentype'),
       url('fonts/NHaasGroteskDSPro-55Rg.woff') format('woff'),
       url('fonts/NHaasGroteskDSPro-55Rg.ttf') format('truetype'),
       url('fonts/NHaasGroteskDSPro-55Rg.svg#b6ad3c4b853b178e80a67cafd99e8515') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro 75';
  src: url('fonts/NHaasGroteskDSPro-75Bd.eot');
  src: url('fonts/NHaasGroteskDSPro-75Bd.eot?#iefix') format('embedded-opentype'),
       url('fonts/NHaasGroteskDSPro-75Bd.woff') format('woff'),
       url('fonts/NHaasGroteskDSPro-75Bd.ttf') format('truetype'),
       url('fonts/NHaasGroteskDSPro-75Bd.svg#3c83350684bc0527723a7e2b4313fd29') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: $fontawesome;
  src: url('fonts/icons/fontawesome-webfont.eot');
  src: url('fonts/icons/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/icons/fontawesome-webfont.svg#svgFontAwesome') format('svg'),
       url('fonts/icons/fontawesome-webfont.woff') format("woff"),
       url('fonts/icons/fontawesome-webfont.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $GLGlyphs;
  src: url('fonts/icons/GLGlyphs.eot?-a4mj0q');
  src: url('fonts/icons/GLGlyphs.eot?#iefix-a4mj0q') format('embedded-opentype'),
    url('fonts/icons/GLGlyphs.woff?-a4mj0q') format('woff'),
    url('fonts/icons/GLGlyphs.ttf?-a4mj0q') format('truetype'),
    url('fonts/icons/GLGlyphs.svg?-a4mj0q#GLGlyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}

.base-font {
  font-family: $base-font;
}

.base-font-alt {
  font-family: $base-font-alt;
}

.arial {
  font-family: $arial;
}

.arialBold {
  font-family: $arial-bold;
}

/* ==========================
	  Body Text
   ========================== */

.lede {
  @include font-size($lede-text);
}

.body-text {
  @include font-size($body-text);
}

.small-body-text {
  @include font-size($small-body-text);
}

.disclaimer-text {
  @include font-size($disclaimer-text);
}

/* ==========================
	  Links
   ========================== */

a {
  @include margin;
  @include padding;
  background: transparent;
  vertical-align: baseline;
  @include font-family($base-font);
  font-weight: 700;
  color: $link;
  text-decoration: none;
  cursor: pointer;
  transition: .2s;

  img {
    border: 0 none;
    text-decoration: none;
  }

  &:hover {
    color: $link-hover;
  }
}

/* ==========================
	  Headings
   ========================== */

// Build Headings
$i: 1;
@each $value in $heading-list {
  #{nth($value, 1)},
  .#{nth($value, 1)} {
    font-family: nth($value, 4);
    @include font-size(nth($value, 2));
    font-weight: nth($value, 3);
    @if $i <= 3 {
      @include bp(bp-medium) {
        @include font-size(nth($value, 2) * .875)
      }

      @include bp(bp-small) {
        @include font-size(nth($value, 2) * .75)
      }
    }
  }

  $i: $i + 1 !global;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include inline-block;
}

small {
  @include inline-block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote {
  clear: inherit;
  margin-bottom: $margin / 3;
  vertical-align: middle;
}

p,
.p {
  font-family: $base-font;
  word-wrap: break-word;

  &:only-child {
    @include margin;
  }
}

.b {
  font-weight: 700;
}

.uppercase {
  text-transform: capitalize;
}

blockquote {
  width: 75%;
  @include margin(0, auto);
  border-left: 3px solid $color-grey;
  color: $text-grey;
  font-style: italic;
  padding-left: $padding;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

abbr {
  border-bottom: 1px dotted $color-grey;
  cursor: help;
}

address {
  font-style: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: bottom;
}

mark {
  background: #ffff00;
}

/* ==========================
	  Pre
   ========================== */
pre {
  @include margin($margin, 0, 0);
  background-color: $color-light-light-grey;
  @include border-radius;
  overflow: auto;
  padding: $padding;
  word-wrap: break-word;
}

kbd,
samp {
  font-family: $pre;
  color: $color-primary-green;
}

.valid,
.is-valid {
  color: $color-primary-green;
}

.code-comment {
  @include opacity(.5);
}

.fa {
  @include font-family($fontawesome);
}

/* ==========================
    Logo
   ========================== */

.GLG {
  font-family: "NeueHaasGroteskDisp Pro 75", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: -1px;
}

.logo_slash,
.division {
  @include font-family($base-font);
  font-weight: 200;
}

.division {
  position: relative;
  left: -.1em;
  color: lighten($color-grey, 10%);
}
