// Pull globals for individually compiled css files
@import "../globals/allGlobals";

/* ==========================================================================
    Videos -- Version: 0.401 - Compiled: #{timestamp()}
   ========================================================================== */

video {
  @include inline-block();
  top: 0;
  left: 0;
  max-width: 100%;
  margin-bottom: 0;
  @media (max-width: $bp-small) {
    video {
      height: auto;
    }
  }
  figure & {
    margin-bottom: $margin;
  }
}

audio {
  @include inline-block();
  max-width: 100%;
  &:not([controls]) {
    display: none;
  }
}