// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Videos -- Version: 0.4.0.1 - Compiled: #{timestamp()}
   ========================================================================== */

@if $videos {

  video {
    top: 0;
    left: 0;
    @include margin;

    @include bp(bp-small) {
      video {
        height: auto;
      }
    }

    figure & {
      margin-bottom: $margin;
    }
  }

}

