<span id="breadcrumbs-anchor" class="h2 jumpTo-anchor">Breadcrumbs</span>

<div class="right">
  <a class="btn" href="breadcrumbs">Isolate</a>
  <a class="btn btn-primary vs" href="#">View Source</a>
</div>

<div class="box-column clear">

  <div class="horizontal slashes">
    <ul>
      <li>
        <a href=''>Home</a>
      </li>
      <li>
        <a href=''>Secondary</a>
      </li>
      <li>
        <a href=''>Tertiary</a>
      </li>
    </ul>
  </div>

{% highlight html %}
<div class="horizontal slashes">
  <ul>
    <li>
      <a href="">Home</a>
    </li>
    <li>
      <a href="">Secondary</a>
    </li>
    <li>
      <a href="">Tertiary</a>
    </li>
  </ul>
</div>
{% endhighlight %}

</div>
