<span id="images-anchor" class="h2 jumpTo-anchor">Images</span>

<div class="right">
  <a class="btn btn-primary" href="images">Isolate</a>
</div>

<div class="box-column clear">

  <figure>
    <img alt="Bill Murray Y'all" src="http://www.fillmurray.com/g/1500/450">
    <figcaption>I'm a figcaption - I tell a bit about the image</figcaption>
  </figure>

{% highlight html %}
<figure>
  <img alt="Bill Murray Y'all" src="http://www.fillmurray.com/g/1500/450">
  <figcaption>I'm a figcaption - I tell a bit about the image</figcaption>
</figure>
{% endhighlight %}

  <hr>

  <div class="row clearfix">
    <div class="column fourth">
      <figure>
        <img src="http://www.fillmurray.com/480/480" alt="Bill Murray">
      </figure>
    </div>
    <div class="column fourth">
      <figure>
        <img class="image-bordered" src="http://www.fillmurray.com/480/480" alt="Bill Murray">
      </figure>
    </div>
    <div class="column fourth">
      <figure>
        <img class="image-rounded" src="http://www.fillmurray.com/480/480" alt="Bill Murray">
      </figure>
    </div>
    <div class="column fourth">
      <figure>
        <img class="image-circular" src="http://www.fillmurray.com/480/480" alt="Bill Murray">
      </figure>
    </div>
  </div>

{% highlight html %}
<figure>
  <img alt="Bill Murray Y'all" src="http://www.fillmurray.com/640/480" alt="Bill Murray">
</figure>

<figure>
  <img class="image-bordered" alt="Bill Murray Y'all" src="http://www.fillmurray.com/640/480" alt="Bill Murray">
</figure>

<figure>
  <img class="image-rounded" alt="Bill Murray Y'all" src="http://www.fillmurray.com/640/480" alt="Bill Murray">
</figure>

<figure>
  <img class="image-circular" alt="Bill Murray Y'all" src="http://www.fillmurray.com/640/480" alt="Bill Murray">
</figure>
{% endhighlight %}

</div>
