<span id="buttons-anchor" class="h2 jumpTo-anchor">Buttons</span>

<div class="right">
  <a class="btn btn-primary" href="buttons">Isolate</a>
</div>

<div class="box-column clear">

  <a href="" class="btn btn-primary mobile-full">Link</a>

  <button class="btn btn-primary mobile-full" type="button">Button</button>

  <a href="" class="btn mobile-full">Link</a>

{% highlight html %}
<a href="" class="btn btn-primary mobile-full">Link</a>

<button class="btn btn-primary mobile-full" type="button">Button</button>

<a href="" class="btn mobile-full">Link</a>
{% end highlight %}

  <hr>
  <h3>Button Types</h3>

  <a href="" class="btn btn-error mobile-full">Error</a>

  <a href="" class="btn btn-success mobile-full">Success</a>

  <a href="" class="btn btn-info mobile-full">Info</a>

  <a href="" class="btn btn-black mobile-full">Dark</a>

  <a href="" class="btn btn-primary js-disabled mobile-full">Disabled</a>

{% highlight html %}
<a href="" class="btn btn-error mobile-full">Error</a>

<a href="" class="btn btn-success mobile-full">Success</a>

<a href="" class="btn btn-info mobile-full">Info</a>

<a href="" class="btn btn-black mobile-full">Dark</a>

<a href="" class="btn btn-primary js-disabled mobile-full">Disabled</a>
{% endhighlight %}

  <hr>

  <h3>Button Sizes</h3>

  <a href="" class="btn btn-primary btn-xl mobile-full">Extra Large</a>

  <a href="" class="btn btn-primary btn-lg mobile-full">Large</a>

  <a href="" class="btn btn-primary mobile-full">Default</a>

  <a href="" class="btn btn-primary btn-sm mobile-full">Small</a>

{% highlight html %}
<a href="" class="btn btn-primary btn-xl mobile-full">Extra Large</a>

<a href="" class="btn btn-primary btn-lg mobile-full">Large</a>

<a href="" class="btn btn-primary mobile-full">Default</a>

<a href="" class="btn btn-primary btn-sm mobile-full">Small</a>
{% endhighlight %}

</div>
