<span id="buttons-anchor" class="h2 jumpTo-anchor">Buttons</span>

<div class="right">
  <a class="btn button-primary" href="buttons">Isolate</a>
</div>

<div class="box-column clear">

  <p class="lede">A button is a required function to perform or complete an action.</p>
  <p>For the purposes of consistency, buttons and links can be styled to look identical.</p>

  <hr>

  <a href="" class="btn button-primary mobile-full">Link</a>

  <button class="btn button-primary mobile-full" type="button">Button</button>

  <a href="" class="btn mobile-full">Link</a>

{% highlight html %}
<a href="" class="btn button-primary mobile-full">Link</a>

<button class="btn button-primary mobile-full" type="button">Button</button>

<button class="btn button-primary mobile-full progression active" type="button"><i class="fa fa-circle-o-notch"></i> Button w/Icon</button>

<a href="" class="btn mobile-full">Link</a>
{% endhighlight %}

  <hr>
  <h3>Button Types</h3>

  <a href="" class="btn btn-error mobile-full">Error</a>

  <a href="" class="btn btn-success mobile-full">Success</a>

  <a href="" class="btn btn-info mobile-full">Info</a>

  <a href="" class="btn btn-black mobile-full">Dark</a>

  <a href="" class="btn button-primary js-disabled mobile-full">Disabled</a>

{% highlight html %}
<a href="" class="btn btn-error mobile-full">Error</a>

<a href="" class="btn btn-success mobile-full">Success</a>

<a href="" class="btn btn-info mobile-full">Info</a>

<a href="" class="btn btn-black mobile-full">Dark</a>

<a href="" class="btn button-primary js-disabled mobile-full">Disabled</a>
{% endhighlight %}

  <hr>

  <h3>Button Sizes</h3>

  <a href="" class="btn button-primary btn-xl mobile-full">Extra Large</a>

  <a href="" class="btn button-primary btn-lg mobile-full">Large</a>

  <a href="" class="btn button-primary mobile-full">Default</a>

  <a href="" class="btn button-primary btn-sm mobile-full">Small</a>

{% highlight html %}
<a href="" class="btn button-primary btn-xl mobile-full">Extra Large</a>

<a href="" class="btn button-primary btn-lg mobile-full">Large</a>

<a href="" class="btn button-primary mobile-full">Default</a>

<a href="" class="btn button-primary btn-sm mobile-full">Small</a>
{% endhighlight %}

</div>

<span id="ctas-anchor" class="h2 jumpTo-anchor">CTA's</span>

<div class="right">
  <a class="btn button-primary" href="buttons">Isolate</a>
</div>

<div class="box-column clear">

  <p class="lede">A CTA is specifically an encouragement of behavior by the user</p>

  <a href="" class="cta cta-primary mobile-full">Download This Thing <i class="fa fa-download"></i></a>

{% highlight html %}
<a href="" class="cta cta-primary mobile-full">Download This Thing <i class="fa fa-download"></i></a>
{% endhighlight %}

</div>
