<span id="summary-anchor" class="h2 jumpTo-anchor">Summary</span>

<div class="right">
  <a class="btn btn-primary" href="summary">Isolate</a>
</div>

<div class="box-column clear">
    <h3>Summary</h3>

    <details closed>
        <summary>Summary</summary>
        <p>If your browser supports the details element, it should allow
        you to expand and collapse this text by clicking the triangle.</p>
    </details>

{% highlight html %}
<details closed>
  <summary>Summary</summary>
  <p>If your browser supports the details element, it should allow
you to expand and collapse this text by clicking the triangle.</p>
</details>
{% endhighlight %}

</div>
