<span id="breadcrumbs-anchor" class="h2 jumpTo-anchor">Breadcrumbs</span>

<div class="right">
  <a class="btn btn-primary" href="breadcrumbs">Isolate</a>
</div>

<p>Breadcrumbs are a graphical element used as a navigational aid for users. It serves the purpose of marking the path a user took to get wheere they are. These are largely unstyled but follow the typical convention of a horizontal list of links. Any of the links can be clicked to jump back to a specific spot.</p>

<div class="box-column clear">

    <ul class="horizontal slashes">
      <li>
        <a href=''>Home</a>
      </li>
      <li>
        <a href=''>Secondary</a>
      </li>
      <li>
        <a href=''>Tertiary</a>
      </li>
    </ul>

{% highlight html %}
<ul class="horizontal slashes">
  <li>
    <a href=''>Home</a>
  </li>
  <li>
    <a href=''>Secondary</a>
  </li>
  <li>
    <a href=''>Tertiary</a>
  </li>
</ul>
{% endhighlight %}

</div>
