<span id="typography-anchor" class="h2 jumpTo-anchor">Typography</span>

<div class="right">
  <a class="btn btn-primary" href="typography">Isolate</a>
</div>

<div class="box-column clear">

{% include styleguide/typography/fonts/index.html %}

<hr>

{% include styleguide/typography/headings/index.html %}

<hr>

{% include styleguide/typography/body_text/index.html %}

<hr>

{% include styleguide/typography/inline_text/index.html %}

<hr>

{% include styleguide/typography/icons/index.html %}

<hr>

{% include styleguide/typography/text_alignment/index.html %}

</div>