/* ===========================================================================================
    Accessibility  / 508 Compliance -- Version: 0.4.2 - Compiled: timestamp()
   =========================================================================================== */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin-top: -1em;
  margin-right: -1em;
  margin-bottom: -1em;
  margin-left: -1em;
  overflow: hidden;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: absolute;
}
.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  overflow: visible;
  position: static;
  width: auto;
}
