<span id="box-anchor" class="h2 jumpTo-anchor">Static Information Boxes</span>

<div class="right">
  <a class="btn btn-primary" href="info-box">Isolate</a>
</div>

<p>Just like the <a href="#message-anchor">Message Box</a>, the Static Information Boxes contain information useful or need to the user. The are intended to be written in the markup and not injected as an event.</p>

<div class="box-column clearfix">

  <div class="row">
    <div class="info-box">
      <span class="message"><i class="glg-download"></i> There aren't any pertinents here for you</span>
    </div>
  </div>

  <div class="row">
    <div class="error-box">
      <span class="message"><i class="glg-download"></i> There aren't any pertinents here for you</span>
    </div>
  </div>

  <div class="row">
    <div class="valid-box">
      <span class="message"><i class="glg-download"></i> There aren't any pertinents here for you</span>
    </div>
  </div>

{% highlight html %}
<span class="message"><i class="glg-download"></i> There aren't any pertinents here for you</span>
{% endhighlight %}

</div>
