<span id="pills-anchor" class="h2 jumpTo-anchor">Pills</span>

<div class="right">
	<a class="btn btn-primary" href="pills">Isolate</a>
</div>

<div class="box-column clear">
	<ul class="vertical lined">
		<li>
			<label for="">Number of members</label>
			<span class="pill">5</span>
		</li>
		<li>
			<label for="">Fave Drake songs</label>
			<span class="pill-white">17</span>
		</li>
		<li>
			<label for="">Number of times my daughter has watched Frozen</label>
			<span class="pill-error">23</span>
		</li>
		<li>
			<label for="">Number of times I have watched Frozen</label>
			<span class="pill-success">7</span>
		</li>
	</ul>

	<hr>

	<ul class="vertical lined">
		<li>
			<span class="pill">5</span>
			<label for="">Number of members</label>
		</li>
		<li>
			<span class="pill-white">17</span>
			<label for="">Fave Drake songs</label>
		</li>
		<li>
			<span class="pill-error">23</span>
			<label for="">Number of times my daughter has watched Frozen</label>
		</li>
		<li>
			<label for="">Number of times I have watched Frozen</label>
			<span class="pill-success">7</span>
		</li>
	</ul>

	<hr>

	<label for="">You purchased this item <span class="pill-success">23</span> times</label>

{% highlight html %}
<label for="">Number of members</label>
<span class="pill">5</span>

<label for="">Fave Drake songs</label>
<span class="pill-white">17</span>

<label for="">Number of times my daughter has watched Frozen</label>
<span class="pill-error">23</span>

<label for="">Number of times I have watched Frozen</label>
<span class="pill-success">7</span>

<hr>

<span class="pill">5</span>
<label for="">Number of members</label>

<span class="pill-white">17</span>
<label for="">Fave Drake songs</label>

<span class="pill-error">23</span>
<label for="">Number of times my daughter has watched Frozen</label>

<label for="">Number of times I have watched Frozen</label>
<span class="pill-success">7</span>

<label for="">You purchased this item <span class="pill-success">23</span> times</label>
{% endhighlight %}
</div>
