<span id="pills-anchor" class="h2 jumpTo-anchor">Pills</span>

<div class="right">
  <a class="btn btn-primary" href="pills">Isolate</a>
</div>

<div class="box-column clear">
	<label for="">Number of members</label>
	<span class="pill-black">12</span>
	<br>
	<label for="">Fave Drake songs</label>
	<span class="pill-white">17</span>
	<br>
	<label for="">Number of times my daughter has watched Frozen</label>
	<span class="pill-red">23</span>

	<hr>

	<span class="pill-black">12</span>
	<label for="">Number of members</label>
	<br>
	<span class="pill-white">17</span>
	<label for="">Fave Drake songs</label>
	<br>
	<span class="pill-red">23</span>
	<label for="">Number of times my daughter has watched Frozen</label>

	<hr>

	<label for="">You purchased this item <span class="pill-red">23</span> times</label>

{% highlight html %}
<label for="">Number of members</label>
<span class="pill-black">12</span>
<br>
<label for="">Fave Drake songs</label>
<span class="pill-white">17</span>
<br>
<label for="">Number of times my daughter has watched Frozen</label>
<span class="pill-red">23</span>

<hr>

<span class="pill-black">12</span>
<label for="">Number of members</label>
<br>
<span class="pill-white">17</span>
<label for="">Fave Drake songs</label>
<br>
<span class="pill-red">23</span>
<label for="">Number of times my daughter has watched Frozen</label>

<hr>

<label for="">You purchased this item <span class="pill-red">23</span> times</label>
{% endhighlight %}
</div>
